[2020-11-05 17:36] k-doering-NOAA opened #1 "Consider Tim Miller's state space model approach"
Imported from redmine, Issue [#12334](https://vlab.ncep.noaa.gov/redmine/issues/12334)
 Opened by teresa.amar on 2015-08-19
Status when imported: New

See the following references:

https://afs.confex.com/afs/2015/webprogram/Paper19188.html

A State-Space Approach to Incorporating Environmental Effects in Stock Assessment and Biological Reference Points

Tim Miller, Northeast Fisheries Science Cen

[2020-11-05 17:36] k-doering-NOAA opened #2 "[Feature]: Mean size in plus group only updates for years with time-vary growth"
Imported from redmine, Issue [#12336](https://vlab.ncep.noaa.gov/redmine/issues/12336)
 Opened by teresa.amar on 2015-08-25
Status when imported: New

There is an approximation in SS for which I'm seeking your input.

The issue is the mean body length of fish in the plus group. That length drives body weight, fecundity, size selectivity, and M (for Lorenzen M approach).

Hence the order of operati

[2020-11-05 17:36] k-doering-NOAA opened #3 "[Feature]: Year-specific MSY"
Imported from redmine, Issue [#12338](https://vlab.ncep.noaa.gov/redmine/issues/12338)
 Opened by teresa.amar on 2015-08-28
Status when imported: New

Make it easier do year-specific SPR and MSY calculations.

Currently the user needs to do this with iterative calls while adjusting the forecast.ss file accordingly.

[2020-11-05 17:36] k-doering-NOAA opened #5 "[Feature]: create comprehensive approach for survey Q and parm dev link functions"
Imported from redmine, Issue [#12352](https://vlab.ncep.noaa.gov/redmine/issues/12352)
 Opened by @RickMethot on 2015-10-08
Status when imported: Under Review

Have already changed specification of special selectivities (e.g. len selex=30 to 37) from the len selex input section to the survey units section of the data file.

Next need to modify the Q_power option to be a entry point for entering a

[2020-11-05 17:37] k-doering-NOAA opened #6 "propagate random walk in mgparms, catchability, and selectivity into forecast"
Imported from redmine, Issue [#12710](https://vlab.ncep.noaa.gov/redmine/issues/12710)
 Opened by @RickMethot on 2016-04-19
Status when imported: Feedback

[2020-11-05 17:37] k-doering-NOAA opened #7 "[Feature]: Automatic set-up for size selex 6 and age selex 17 and others"
Imported from redmine, Issue [#17504](https://vlab.ncep.noaa.gov/redmine/issues/17504)
 Opened by teresa.amar on 2016-04-05
Status when imported: New

Add automatic set-up for size selex 6 (non-parametric) and age selex 17 (random walk)

Pattern 6 (non-parametric size selectivity)
number of parameters: 2 + special value
This pattern uses a set of linear segments. The first
waypoint is at Length =

[2020-11-05 17:37] k-doering-NOAA opened #8 "[Feature]: Report more info on deviations to PARAMETERS section of Report.sso"
Imported from redmine, Issue [#17862](https://vlab.ncep.noaa.gov/redmine/issues/17862)
 Opened by @iantaylor-NOAA on 2016-04-15
Status when imported: On Hold

Currently columns in PARAMETERS section for Phase, Min, Max, and Init are underscores and Prior, Pr_SD, and Prior_Like are blank. However, these could get filled in with useful information which would with tasks like plotting parameters rela

[2020-11-05 17:37] k-doering-NOAA opened #9 "[Feature]: Add other options to _CV_Growth_Pattern for log(SD)"
Imported from redmine, Issue [#17993](https://vlab.ncep.noaa.gov/redmine/issues/17993)
 Opened by teresa.amar on 2016-04-20
Status when imported: New

Request from someone at the April 2016 UMassD training:

Add option for log(SD) = f(LAA) and log(SD) = f(A)
to _CV_Growth_Pattern (in the control file)

[2020-11-05 17:37] k-doering-NOAA opened #10 "[Feature]: Area-specific spawner-recruitment"
Imported from redmine, Issue [#18311](https://vlab.ncep.noaa.gov/redmine/issues/18311)
 Opened by @RickMethot on 2016-04-28
Status when imported: New

5.  Conceptual problem in equilibrium calcs if fish move between areas
   Equil_Calc takes some total recruitment (Equ_Recr)
   it distributes according to recr_dist,
   then calculates equilibrium numbers at age taking into account F and movement b

[2020-11-05 17:37] k-doering-NOAA opened #11 "[Feature]: Tag recapture - major revamp"
Imported from redmine, Issue [#18312](https://vlab.ncep.noaa.gov/redmine/issues/18312)
 Opened by @RickMethot on 2017-11-07
Status when imported: New

need:
time-vary parameters
sharing of parameters
fleet-specific and release specific reporting rates

[2020-11-05 17:37] k-doering-NOAA opened #12 "measuring predictive capability"
Imported from redmine, Issue [#19284](https://vlab.ncep.noaa.gov/redmine/issues/19284)
 Opened by @RickMethot on 2016-05-29
Status when imported: New

There is a need to create a measure of the predictive capability of SS.  Basically to estimate parameters using data through year y, then calculate the goodness-of-fit to data in year y+1 without including those data in the objective function.

This

[2020-11-05 17:37] k-doering-NOAA opened #13 "[Feature]: Input prior on derived selectivity"
Imported from redmine, Issue [#19955](https://vlab.ncep.noaa.gov/redmine/issues/19955)
 Opened by @RickMethot on 2016-06-21
Status when imported: New

add a way to input selectivity at a specified fleet/time/age as data

time will allow field measurements of selectivity to be input to the model., as well as allowing such input to be a "prior" on selectivity

[2020-11-05 17:37] k-doering-NOAA opened #14 "change reporting of time-varying parameters after adjustments"
Imported from redmine, Issue [#21185](https://vlab.ncep.noaa.gov/redmine/issues/21185)
 Opened by @iantaylor-NOAA on 2016-08-11
Status when imported: On Hold

Current structure has three tables.

The first is MGparm_By_Year_after_adjustments with one row per year and one column for each MGparm.

The other two are selparm(Size)_By_Year_after_adjustments and selparm(Age)_By_Year_after_adjustments wh

[2020-11-05 17:37] k-doering-NOAA opened #15 "[Feature]: masking of pre-settlement fish"
Imported from redmine, Issue [#29095](https://vlab.ncep.noaa.gov/redmine/issues/29095)
 Opened by @RickMethot on 2017-02-10
Status when imported: On Hold

In 3.24, all fish recruited at the beginning of a season.
In 3.30, settlement events can occur anytime during a season, but the settlers are actually assigned to the numbers-at-age matrices at the beginning of the season of settlement.  This mea

[2020-11-05 17:37] k-doering-NOAA opened #16 "Add projected survey indices to forecasts"
Imported from redmine, Issue [#30394](https://vlab.ncep.noaa.gov/redmine/issues/30394)
 Opened by teresa.amar on 2017-03-20
Status when imported: Resolved

Output projected values for survey indices

Where?  In Report.sso -> INDEX_2

Need to add forecast years to survey index arrays

See emails on 2017-03-17 between Shannon Calay, IGT, and RDM

[2020-11-05 17:39] k-doering-NOAA opened #17 "[Feature]: Otolith weight as proxy for age, generalized age comp"
Imported from redmine, Issue [#35753](https://vlab.ncep.noaa.gov/redmine/issues/35753)
 Opened by @RickMethot on 2017-06-30
Status when imported: In Progress

Our Panama City lab has done fairly extensive analyses demonstrating the relationship between otolith weight and age (see attached presentation) for GOM species. Beverly Barnett (copied), Guy Davenport, Gary Fitzhugh and to some extent Bonni

[2020-11-05 17:39] k-doering-NOAA opened #18 "Instability in initial F near Fmsy"
Imported from redmine, Issue [#36394](https://vlab.ncep.noaa.gov/redmine/issues/36394)
 Opened by @RickMethot on 2017-07-24
Status when imported: In Progress

There is a non-monotonic relationship that can interfere with initial F estimation if the option to allow spawner-recruitment to operate inside initial year is used and if the input initial catch is near MSY.  In the attached file there is a

[2020-11-05 17:39] k-doering-NOAA opened #19 "rebuild.sso Add new lines for sigma, pstar, and implementation error"
Imported from redmine, Issue [#37863](https://vlab.ncep.noaa.gov/redmine/issues/37863)
 Opened by @chantelwetzel-noaa on 2017-09-11
Status when imported: On Hold

The updated rebuilder requires input lines for sigma and pstar following the harvest control rule line.  Additionally, new inputs for implementation error have been added to the rebuilder executable.  SS needs to write out this section i

[2020-11-05 17:39] k-doering-NOAA opened #20 "review implementation of parameter random effects"
Imported from redmine, Issue [#39714](https://vlab.ncep.noaa.gov/redmine/issues/39714)
 Opened by @RickMethot on 2015-10-29
Status when imported: In Progress

In 3.30, the deviations are assumed to be unit normal and are multiplied by a stddev before being used.  However, they may not actually be unit normal in any instance and this caused consternation for at least one user, Grant Thompson.

[2020-11-05 17:40] k-doering-NOAA opened #21 "Deprecate SIS_table.sso"
Imported from redmine, Issue [#39805](https://vlab.ncep.noaa.gov/redmine/issues/39805)
 Opened by @chantelwetzel-noaa on 2015-10-08
Status when imported: Under Review

I spoke with Stacey and a couple of items could be added to the SIS_table file to improve its usability and reduce the number of places ones needs to look to identify all quantities required for SIS.

1. Add a list of survey/cpue in

[2020-11-05 17:40] k-doering-NOAA opened #22 "[Feature]: Area-specific growth"
Imported from redmine, Issue [#40367](https://vlab.ncep.noaa.gov/redmine/issues/40367)
 Opened by @RickMethot on 2017-11-02
Status when imported: New

Is it feasible to have an area-specific growth effect on all morphs while in an area.

When fish of a given morph move to a different area, the mean size of fish of that morph in the recipient area becomes the weighted average of fish of that morph

[2020-11-05 17:40] k-doering-NOAA opened #23 "[Bug]: Richards growth coefficient range"
Imported from redmine, Issue [#46842](https://vlab.ncep.noaa.gov/redmine/issues/46842)
 Opened by @RickMethot on 2018-02-23
Status when imported: In Progress

Richards growth coeff can be positive or negative, but not 0.0.  Need to trap for this

[2020-11-05 17:40] k-doering-NOAA opened #24 "[Bug]: Richards growth interacts with timevary growth trap"
Imported from redmine, Issue [#46843](https://vlab.ncep.noaa.gov/redmine/issues/46843)
 Opened by @RickMethot on 2018-02-23
Status when imported: In Progress

The join function to prevent shrinkage interferes with Richards growth because the join works on transofrmed space.
Temporarily remove the join fxn to allow Richards to work

suggest that join be reinstated to work on untransformed size-at-a

[2020-11-05 17:40] k-doering-NOAA opened #25 "[Question]: Parameter range for low fecundity spawner-recruitment"
Imported from redmine, Issue [#46844](https://vlab.ncep.noaa.gov/redmine/issues/46844)
 Opened by @RickMethot on 2018-02-23
Status when imported: On Hold

investigation of the low fecundity spawner-recruitment function reveals combos that ill-perform.  May need to add some transformations or bounds to keep configuration in a reasonable space.  A spreadsheet was created:  test_LFSR.xls

[2020-11-05 17:40] k-doering-NOAA opened #26 "[Feature]: Implement depletion survey as a parameter for XSSS"
Imported from redmine, Issue [#47209](https://vlab.ncep.noaa.gov/redmine/issues/47209)
 Opened by @RickMethot on 2018-03-01
Status when imported: On Hold

from Jason Cope:
If it is a parameter, we are able to access the MCMC machinery for estimation for SSS (we have a way of putting all the draws in the .pin file, which makes calculation really fast) and allows us to bypass AIS and use MCMC, which

[2020-11-05 17:40] k-doering-NOAA opened #27 "[Feature]: Empirical length-at-age"
Imported from redmine, Issue [#48305](https://vlab.ncep.noaa.gov/redmine/issues/48305)
 Opened by @RickMethot on 2018-03-27
Status when imported: New

create new growth option that allows user to input vector of length-at-age

[2020-11-05 17:40] k-doering-NOAA opened #28 "[Feature]: Stochastic recruitment for N replicate forecasts"
Imported from redmine, Issue [#48849](https://vlab.ncep.noaa.gov/redmine/issues/48849)
 Opened by @RickMethot on 2018-04-06
Status when imported: New

It would be good to have a stochastic MSY and BMSY that is created by multiple realizations of stochastic forecasts.

[2020-11-05 17:40] k-doering-NOAA opened #29 "Document and sim test recruitment dev_vector options"
Imported from redmine, Issue [#49212](https://vlab.ncep.noaa.gov/redmine/issues/49212)
 Opened by @RickMethot on 2018-05-11
Status when imported: In Progress

Find while working with Cole Monnahan that the dev_vector approach to the recruitment deviations does not perform well in mceval_phase().

Three alternatives:
1.  ADMB developers find a fix;
2.  deprecate use of the dev_vector and add a pena

[2020-11-05 17:40] k-doering-NOAA opened #30 "selex 44 and 45 for sex-specific non-parametric age selectivity"
Imported from redmine, Issue [#49900](https://vlab.ncep.noaa.gov/redmine/issues/49900)
 Opened by @RickMethot on 2018-05-02
Status when imported: In Progress

              case 44:  //  like age selex 17 but with separate parameters for males and with revised controls
            {
              //  sp(1) is first age with non-zero selectivity; can be age 0
              //  seltype(f,4) is numbe

[2020-11-05 17:40] k-doering-NOAA opened #31 "[Feature]: add option to include constant of integration for Dirichlet-Multinomial likelihood"
Imported from redmine, Issue [#51972](https://vlab.ncep.noaa.gov/redmine/issues/51972)
 Opened by @iantaylor-NOAA on 2018-06-22
Status when imported: On Hold

Jim Thorson just noted in an email to me that constant of integration for the Dirichlet-Multinomial is not included in the likelihood. This isn't an issue unless you wanted to do a comparison of the likelihoods between the D-M and the multin

[2020-11-05 17:41] k-doering-NOAA opened #32 "fix retention setup to allow mirroring"
Imported from redmine, Issue [#52776](https://vlab.ncep.noaa.gov/redmine/issues/52776)
 Opened by @RickMethot on 2018-07-16
Status when imported: Under Review

The mirroring option for retention parameters was not turning on the Do_Retain(f) flag, so was not using retention when calculating expected values.

This gets fixed in 3.30.12 beta on July 16, 2018

[2020-11-05 17:41] k-doering-NOAA opened #33 "fleet-specific F method"
Imported from redmine, Issue [#53098](https://vlab.ncep.noaa.gov/redmine/issues/53098)
 Opened by @RickMethot on 2018-07-25
Status when imported: In Progress

It seems advantageous to allow fleet-specific F method so that only fleets with high F will need to use F as parameters

[2020-11-05 17:41] k-doering-NOAA opened #34 "[Feature]: Add check code after each category of the file read"
Imported from redmine, Issue [#54562](https://vlab.ncep.noaa.gov/redmine/issues/54562)
 Opened by @RickMethot on 2018-08-29
Status when imported: On Hold

consider adding a code, say 98765, after each section of the input files so that user gets immediately notified when the read gets out-of-sync.  Might have to do this in about 20 places or so.

Probably need to add a 0/1 in starter so that user

[2020-11-05 17:41] k-doering-NOAA opened #35 "[Feature]: Add option to adjust recdev settings automatically for retrospectives?"
Imported from redmine, Issue [#55783](https://vlab.ncep.noaa.gov/redmine/issues/55783)
 Opened by @iantaylor-NOAA on 2018-10-02
Status when imported: Under Review

Chantel pointed out in an r4ss issue (https://github.com/r4ss/r4ss/issues/245) that when the age and length comps from teh final years of the model are removed by the retrospective input in the starter file, the best practice would be t

[2020-11-05 17:41] k-doering-NOAA opened #36 "[Refactor]: Dynamic spawner-recruitment logic in benchmarks and projections"
Imported from redmine, Issue [#56287](https://vlab.ncep.noaa.gov/redmine/issues/56287)
 Opened by @RickMethot on 2018-10-15
Status when imported: On Hold

The following code seems incomplete in its logic.
Currently, if R0 is time-varying, SS will recalculate SSB_use and in doing so will use the current year's biology-at-age.  However, if R0 is not time-varying, but growth or M is time-varying, the

[2020-11-05 17:41] k-doering-NOAA opened #37 "Implementing new recruitment dev vector approach"
Imported from redmine, Issue [#57889](https://vlab.ncep.noaa.gov/redmine/issues/57889)
 Opened by @RickMethot on 2018-11-23
Status when imported: In Progress

create new recruitment deviation vector approach
do_recdev==3

With this approach:
exp_rec(y,4) = R0_adj * mfexp(dev(y))
where R0_adj is R0 adjusted for blocks, etc. on R0;
  and dev(y) is a simple vector of unconstrained deviations

Then in

[2020-11-05 17:42] k-doering-NOAA opened #38 "[Feature]: Change std.err. adjustments to be additive in variance units, not std.dev. units"
Imported from redmine, Issue [#61415](https://vlab.ncep.noaa.gov/redmine/issues/61415)
 Opened by @RickMethot on 2019-03-14
Status when imported: New

per Andre

[2020-11-05 17:42] k-doering-NOAA opened #39 "[Feature]: Virtual availability"
Imported from redmine, Issue [#61493](https://vlab.ncep.noaa.gov/redmine/issues/61493)
 Opened by @RickMethot on 2019-03-18
Status when imported: New

create concept of explicit availability, as distinct from availability as a component of selectivity.

Also create an option such that 1-availability be an option ffor 2 area models such that fish that are available in fleets in one virtual area are

[2020-11-05 17:42] k-doering-NOAA opened #40 "guiding parameter min, max, and default values"
Imported from redmine, Issue [#64838](https://vlab.ncep.noaa.gov/redmine/issues/64838)
 Opened by @RickMethot on 2019-06-10
Status when imported: New

Information about a parameter's usage is known when the parameter label is assigned, but the input values for the parameter have not been read at that time.  This means that knowledge of good min and max values could be assigned at that time and the

[2020-11-05 17:42] k-doering-NOAA opened #41 "add survey type for environment "survey" that inform recruitment devs or any time-varying parameter"
Imported from redmine, Issue [#65847](https://vlab.ncep.noaa.gov/redmine/issues/65847)
 Opened by @RickMethot on 2019-07-09
Status when imported: New

svy_units 31, 32 and 33 get expected value from various transformations of recruitment, but none relate directly to recr_devs
svy_units 35 allows entry of environmental data as a devs, but can only be related to parameter devs, not recr devs

Need t

[2020-11-05 17:42] k-doering-NOAA opened #42 "[Refactor]: Revise the SE's approach to fitting shrimp effort time series"
Imported from redmine, Issue [#65948](https://vlab.ncep.noaa.gov/redmine/issues/65948)
 Opened by @RickMethot on 2019-07-11
Status when imported: New

convergence in these models is very slow as model seeks to hyper-fit the effort time series using the shrimp fleet F values.  Could this be done by putting the input effort in the catch section and then only estimating a Q parameter?

[2020-11-05 17:42] k-doering-NOAA opened #43 "[Refactor]: Standardize terminology: morph/growth pattern/platoon, and standard error/std dev/CV"
Imported from redmine, Issue [#66091](https://vlab.ncep.noaa.gov/redmine/issues/66091)
 Opened by @k-doering-NOAA on 2019-07-16
Status when imported: On Hold

There are some inconsistencies in how terms are used. I didn't see this issue yet in the tracker, but please let me know if I missed it and this is a duplicate.

Email from Rick about morph/ growth pattern/ platoon:

<pre>
I started working

[2020-11-05 17:42] k-doering-NOAA opened #44 "Document parameter devs approach implemented in 3.30.13"
Imported from redmine, Issue [#66186](https://vlab.ncep.noaa.gov/redmine/issues/66186)
 Opened by @k-doering-NOAA on 2019-07-18
Status when imported: In Progress

From the release notes for 3.30.13:

<pre>
Greetings Stock Synthesis (SS) Users,
In this release of Stock Synthesis 3.30.13.00 we have included some fixes, augmentations and new features.  Thanks to some users
who were pushing the envelo

[2020-11-05 17:43] k-doering-NOAA opened #45 "fleet_type = 4 = Predator to create M2"
Imported from redmine, Issue [#67572](https://vlab.ncep.noaa.gov/redmine/issues/67572)
 Opened by @RickMethot on 2019-08-21
Status when imported: New

requirements could include:
1.  input of consumption amount in biomass or numbers
2.  input predator abundance as a "survey" of effort
3.  functional form to relate "F" by the predator to the predator abundance
4.  composition data is from gut conte

[2020-11-05 17:43] k-doering-NOAA opened #46 "conditional compilation"
Imported from redmine, Issue [#67698](https://vlab.ncep.noaa.gov/redmine/issues/67698)
 Opened by @RickMethot on 2019-08-23
Status when imported: New

IF statements in the code slow it down, so begin using conditional compilation so unnecessary statements are included in SS, but not in SS_OPT

include in versioninfo_safe
 #define DO_ONCE

but do not include that line in versioninfo_opt

then use i

[2020-11-05 17:43] k-doering-NOAA opened #47 "[Feature]: Create ss_new files in ICES standard format"
Imported from redmine, Issue [#67864](https://vlab.ncep.noaa.gov/redmine/issues/67864)
 Opened by @RickMethot on 2019-08-27
Status when imported: New

there is interest in creating a link from SS input files to ICES standard age-structured input files.  An older description of that format is in attached file.

I plan to do this by putting all the tables into one file and then letting user parse th

[2020-11-05 17:43] k-doering-NOAA opened #48 "interaction of bycatch fleets and F0.1 reference point"
Imported from redmine, Issue [#68202](https://vlab.ncep.noaa.gov/redmine/issues/68202)
 Opened by @RickMethot on 2019-09-05
Status when imported: Assigned

find that the F0.1 search can fail if bycatch fleets are used and bycatch setting includes that fleet's catch in the catch to be optimized.
Find this issue while working on Max's vendance model that has seals as a predator via the bycatch fleet

[2020-11-05 17:43] k-doering-NOAA opened #49 "[Feature]: Movement is fxn of mean length-at-age"
Imported from redmine, Issue [#68519](https://vlab.ncep.noaa.gov/redmine/issues/68519)
 Opened by @RickMethot on 2019-09-12
Status when imported: New

Consider making a new movement option that is a fxn of mean length-at-age.  Then with platoons, the larger platoon would have advanced movement.

[2020-11-05 17:43] k-doering-NOAA opened #50 "[Feature]: Condition factor"
Imported from redmine, Issue [#68520](https://vlab.ncep.noaa.gov/redmine/issues/68520)
 Opened by @RickMethot on 2019-09-12
Status when imported: New

Someone in France working on sardine is interested in condition factor.  I think you could do this now by entering mean length-at-age AND mean weight-At-age observations.  Then SS would reconcile them by estimating the Length-Weight parameters

[2020-11-05 17:43] k-doering-NOAA opened #51 "[Feature]: Separate vector of rec devs by area"
Imported from redmine, Issue [#68522](https://vlab.ncep.noaa.gov/redmine/issues/68522)
 Opened by @RickMethot on 2019-09-12
Status when imported: New

When there are multiple areas, it is cumbersome to have SS create a main rec dev and then to have time-varying devs used to partition that into area-specific devs

A sleaker alternative would apply the partition to the expected value to get an expec

[2020-11-05 17:43] k-doering-NOAA opened #52 "Include Dirichlet-multinomial in SS bootstrap data generation"
Imported from redmine, Issue [#68809](https://vlab.ncep.noaa.gov/redmine/issues/68809)
 Opened by @k-doering-NOAA on 2019-09-17
Status when imported: Test-InProgress

Grant Thompson asked about this:
<pre>
Has the Dirichlet-multinomial distribution been fully implemented in the SS routine for generating bootstrap data replicates (i.e., such that the internally estimated parameter affects the repli

[2020-11-05 17:43] k-doering-NOAA opened #53 "[Feature]: Seasonal effects for catchability and selectivity"
Imported from redmine, Issue [#69406](https://vlab.ncep.noaa.gov/redmine/issues/69406)
 Opened by @RickMethot on 2019-09-30
Status when imported: New

While working on the monthly shrimp models I see an obvious need to allow for a seasonal effect on catchability and I expect there have been situations in which seasonal selectivity would be useful.

It would be good to approach this generically acr

[2020-11-05 17:43] k-doering-NOAA opened #54 "issue with order of reports"
Imported from redmine, Issue [#69960](https://vlab.ncep.noaa.gov/redmine/issues/69960)
 Opened by @RickMethot on 2019-10-16
Status when imported: Assigned

The program flow with which SS proceeds from estimation, to benchmark/forecast, then to reporting needs documenting and has some convoluted aspects.

While investigating an errant calculation, I determined that the calculation of global MSY was

[2020-11-05 17:44] k-doering-NOAA opened #55 "Nil selected fish warnings"
Imported from redmine, Issue [#70635](https://vlab.ncep.noaa.gov/redmine/issues/70635)
 Opened by @k-doering-NOAA on 2019-10-30
Status when imported: In Progress

Huihua Lee discovered this issue while converting the Pacific bluefin tuna assessment from SS 3.24f to SS3.30.14. She found that there were some fatal errors, which Huihua was able to get rid of by making manual changes to the 3.24 model

[2020-11-05 17:44] k-doering-NOAA opened #56 "SS windows exe since 3.30.14 saves a .log file in directory"
Imported from redmine, Issue [#70648](https://vlab.ncep.noaa.gov/redmine/issues/70648)
 Opened by @k-doering-NOAA on 2019-10-30
Status when imported: Assigned

I've noticed lately (since 3.30.14) that when I run SS in a model folder and SS is either in a different folder or in my path, that SS saves a .log file with the same name as the executable in the folder with the executable (e.g., is called

[2020-11-05 17:44] k-doering-NOAA opened #57 "Hessian info not reported in Report.sso"
Imported from redmine, Issue [#70699](https://vlab.ncep.noaa.gov/redmine/issues/70699)
 Opened by @k-doering-NOAA on 2019-10-31
Status when imported: Under Review

I thought some info about the hessian would be reported in Report.sso after the words "Hessian :". However, when I looked at the SS code, it looks like nothing is written out for the hessian:
https://vlab.ncep.noaa.gov/redmine/projects/

[2020-11-05 17:45] k-doering-NOAA opened #58 "[Feature]: Equilibrium growth for equilibrium calculations"
Imported from redmine, Issue [#70928](https://vlab.ncep.noaa.gov/redmine/issues/70928)
 Opened by @RickMethot on 2019-11-05
Status when imported: Under Review

benchmark calculations should be able to recalculate growth from averaged parameters rather than calculating average length from the range of years.

per Andre Punt comment at CAPAM

Code development logic below:

----------------
To achiev

[2020-11-05 17:45] k-doering-NOAA opened #59 "[Feature]: Add option for the user to input forecast fleet proportions in catch"
Imported from redmine, Issue [#70956](https://vlab.ncep.noaa.gov/redmine/issues/70956)
 Opened by @chantelwetzel-noaa on 2019-11-06
Status when imported: Under Review

Currently, the proportion allocation among fleets can only be entered in terms in of F proportion.  Often future removals are allocated in terms of the percent of future catch by fleet or area.  In terms of West Coast assessments, t

[2020-11-05 17:45] k-doering-NOAA opened #60 "[Feature]: Develop design matrix approach to share movement parameters"
Imported from redmine, Issue [#70982](https://vlab.ncep.noaa.gov/redmine/issues/70982)
 Opened by @RickMethot on 2019-11-06
Status when imported: Under Review

males and females can show different seasonal movement patterns.   There needs to be a way to specify this

[2020-11-05 17:45] k-doering-NOAA opened #61 "[Feature]: Close Kin Mark Recapture CKMR"
Imported from redmine, Issue [#71040](https://vlab.ncep.noaa.gov/redmine/issues/71040)
 Opened by @RickMethot on 2019-11-07
Status when imported: New

Work with Robin Thompson (AUS) on developing expected values for CKMR population estimates

[2020-11-05 17:45] k-doering-NOAA opened #62 "[Feature]: Analyze pros/cons of tail compression - add warning"
Imported from redmine, Issue [#71957](https://vlab.ncep.noaa.gov/redmine/issues/71957)
 Opened by @RickMethot on 2019-12-03
Status when imported: New

I am finding that tail compression is being used for sparse conditional age-at-length data.  If all fish are in a single age bin, the compression of tails means that the expected values are also compressed to that one bin.  This causes SS to not det

[2020-11-05 17:45] k-doering-NOAA opened #63 "[Feature]: Improve bootstrap process in Stock Synthesis"
Imported from redmine, Issue [#72710](https://vlab.ncep.noaa.gov/redmine/issues/72710)
 Opened by @k-doering-NOAA on 2019-12-19
Status when imported: New

This was a wishlist item for a future development feature - full description is "improve the bootstrap process to more fully mimic the sampling process rather than just add residuals to the expected value of observations."

@richard.methot, feel

[2020-11-05 17:45] k-doering-NOAA opened #64 "[Feature]: Bypass growth when using empirical weight at age"
Imported from redmine, Issue [#72712](https://vlab.ncep.noaa.gov/redmine/issues/72712)
 Opened by @k-doering-NOAA on 2019-12-19
Status when imported: New

This is a wishlist item to isolate the growth process so it can completely be bypasses when a model is using empirical weight-at-age.

@richard.methot, feel free to change the priority and add details to this issue.

[2020-11-05 17:45] k-doering-NOAA opened #65 "report autocorrelation for recruitment devs and selectivity deviations"
Imported from redmine, Issue [#73992](https://vlab.ncep.noaa.gov/redmine/issues/73992)
 Opened by @iantaylor-NOAA on 2020-01-29
Status when imported: Resolved

As discussed at 29 January 2020 meeting, it would be useful to report autocorrelation for recruitment deviations and semi-parametric (2D-AR) selectivity deviations.

[2020-11-05 17:46] k-doering-NOAA opened #66 "Make Dirichlet-Multinomial likelihood available for generalized size frequency data"
Imported from redmine, Issue [#74989](https://vlab.ncep.noaa.gov/redmine/issues/74989)
 Opened by @iantaylor-NOAA on 2020-02-14
Status when imported: New

This task was pulled out of issue #28432 as it may take longer than the other pieces of that issue and thus may not get done for 3.30.15

[2020-11-05 17:46] k-doering-NOAA opened #67 "[Feature]: Make datum specific -logL available for leave-one-out"
Imported from redmine, Issue [#75174](https://vlab.ncep.noaa.gov/redmine/issues/75174)
 Opened by @RickMethot on 2020-02-20
Status when imported: New

The initial inquiry from Cole is pasted below.  I am moving it into the VLAB issue system for easier tracking towards implementation.
*************************************
I'm exploring some options for Bayesian model selection/validation. An import

[2020-11-05 17:46] k-doering-NOAA opened #68 "add option for forecast to use averaged M or other biology parms"
Trying a new prototype template here.  This section will continually be edited as development progress.
- [ ] Issue description
For various MGparms, notably M and recruitment distribution, there is a need to be able to calculate the average over some range of years during which the factor is time-varying, and to assign that average to each year of the forecast.

- [ ] summary of major aspects of c

[2020-11-05 17:46] k-doering-NOAA opened #69 "add dynamic Bzero as option for denominator in depletion calculations"
Imported from redmine, Issue [#75357](https://vlab.ncep.noaa.gov/redmine/issues/75357)
 Opened by @RickMethot on 2020-02-25
Status when imported: New

Depletion is the ratio of current SSB to a reference SSB.  There are two hardwired reference SSB values:  SSB_virgin calculated at beginning of time series, and SSB_unfished which uses the benchmark definitions (including benchmark range of years fo

[2020-11-05 17:46] k-doering-NOAA opened #70 "Re-running each MCMC saved sample to get a report file in Hake assessment"
Imported from redmine, Issue [#75754](https://vlab.ncep.noaa.gov/redmine/issues/75754)
 Opened by @k-doering-NOAA on 2020-03-03
Status when imported: New

This first came up in #75174, but is a separate topic from the original issue being discussed there.

Kelli noted:
<pre>
Thanks Ian for thinking of the hake assessment. We do in fact re-run each saved sample with bias adjustment
ramp = 1.0 to ge

[2020-11-05 17:47] k-doering-NOAA opened #71 "Large minimum size bin warning could be better formatted"
Imported from redmine, Issue [#76411](https://vlab.ncep.noaa.gov/redmine/issues/76411)
 Opened by @k-doering-NOAA on 2020-03-18
Status when imported: New

The pacific blue marlin testing model when run with exe 3.30.14.20 includes the warning in warning.sso:
<pre>
Minimum size bin is:_30; which is >10cm, which is large for use as size-at-age 0.0 recruitment
</pre>

I think this could be better wor

[2020-11-05 17:47] k-doering-NOAA opened #72 "update N_nudata text in starter.ss_new"
Imported from redmine, Issue [#76472](https://vlab.ncep.noaa.gov/redmine/issues/76472)
 Opened by @k-doering-NOAA on 2020-03-19
Status when imported: Under Review

Low priority. Two of the models in our testing set had the line in the starter file:
<pre>
0 # Number of datafiles to produce: 1st is input, 2nd is estimates, 3rd and higher are bootstrap
</pre>

The model will run fine, the data.ss_new

[2020-11-05 17:47] k-doering-NOAA opened #73 "create system to provide parameter types and minmax bounds"
Imported from redmine, Issue [#77270](https://vlab.ncep.noaa.gov/redmine/issues/77270)
 Opened by @iantaylor-NOAA on 2020-04-01
Status when imported: New

The issue that Dan Fu reported (files attached to #77268) was caused by use_dev = 1 values for the Spline_Knot parameters. The user manual notes "These must be held constant (not estimated, e.g., negative phase value) during a model run" but it

[2020-11-05 17:47] k-doering-NOAA opened #74 "settlement timing essay"
Imported from redmine, Issue [#77321](https://vlab.ncep.noaa.gov/redmine/issues/77321)
 Opened by @k-doering-NOAA on 2020-04-02
Status when imported: New

A continuation of #77299. @richard.methot, feel free to attach a draft version of the essay here.

[2020-11-05 17:47] k-doering-NOAA opened #75 "variance of dynamic Bzero"
Imported from redmine, Issue [#78188](https://vlab.ncep.noaa.gov/redmine/issues/78188)
 Opened by @RickMethot on 2020-04-24
Status when imported: In Progress

There is user interest in getting variance of dynamic Bzero

This seems feasible.  The implementation will require running dynamic Bzero in the STDQUANT function, and the creation of a sd_vector to hold the output.  That sd_vector needs to b

[2020-11-05 17:47] k-doering-NOAA opened #76 "calculate fleet-specific fishery impacts relative to dynamic B0"
Imported from redmine, Issue [#78212](https://vlab.ncep.noaa.gov/redmine/issues/78212)
 Opened by @iantaylor-NOAA on 2020-04-24
Status when imported: New

Low priority wishlist item copied from #78188

The IATTC and IOTC and maybe other groups have used figures like the following (pasted from https://www.iattc.org/PDFFiles/StockAssessmentReports/_English/No-20-2019_Status%20of%20the%20tuna%20and%2

[2020-11-05 17:47] k-doering-NOAA opened #77 "[Feature]: Call write_data from within mceval"
Imported from redmine, Issue [#78529](https://vlab.ncep.noaa.gov/redmine/issues/78529)
 Opened by @RickMethot on 2020-05-12
Status when imported: New

A suggestion from Teresa Amar is copied below:
I have a question about SS and the MCMC process.  In the ADMB mceval phase, can the expected values for the data be output, similar to how the bootstrap functionality works?  That seems like it could be

[2020-11-05 17:47] k-doering-NOAA opened #78 "delete instead of just overwriting Report.sso and other output files?"
Imported from redmine, Issue [#78807](https://vlab.ncep.noaa.gov/redmine/issues/78807)
 Opened by @iantaylor-NOAA on 2020-05-20
Status when imported: Test-InProgress

I'm separating this out from issue #46175 so it doesn't get lost (specifically comment 27 #46175-27 and those immediately below--FYI, I just learned that the syntax @#issuenumber-notenumber@ links you directly to the specific comment

[2020-11-05 17:47] k-doering-NOAA opened #79 "log(quantities) for sd_variables"
Imported from redmine, Issue [#78894](https://vlab.ncep.noaa.gov/redmine/issues/78894)
 Opened by @RickMethot on 2020-05-22
Status when imported: Under Review

per email conversation with Henning Winkler, there is statistical merit in getting the variance of log(SSB/SSBmsy) and log(F/Fmsy).  It would be easy to add this to the existing set of std options.  I'd propose adding 10 to the option such

[2020-11-05 17:47] k-doering-NOAA opened #80 "max(selectivity) < 1.0"
Imported from redmine, Issue [#79244](https://vlab.ncep.noaa.gov/redmine/issues/79244)
 Opened by @RickMethot on 2020-06-02
Status when imported: New

When the slope of a logistic selectivity is shallow, it may not get to 1.0 at max age or max size.
Also, when length selectivity is used, then to the extent that the sizes with max selectivity do not correspond to the peak of the distribution of len

[2020-11-05 17:47] k-doering-NOAA opened #81 "[Feature]: Output body weight-at-age of retained and discarded fish when retention function is used"
Imported from redmine, Issue [#80429](https://vlab.ncep.noaa.gov/redmine/issues/80429)
 Opened by @RickMethot on 2020-06-30
Status when imported: New

Laura Lee has requested this output
The calculations go in function Make_FishSelex()

Also look at how this function does updating in forecast years. It may be storing only in endyr+1

Since this is a frequently called routine, consider making diffe

[2020-11-05 17:47] k-doering-NOAA opened #82 "[Bug]: Automatically work around "no active parameters" error"
Imported from redmine, Issue [#82472](https://vlab.ncep.noaa.gov/redmine/issues/82472)
 Opened by @iantaylor-NOAA on 2020-08-31
Status when imported: New

Low priority issue moved from documentation issue #51300

When no parameters are assigned to phase 1, SS crashes with this warning from ADMB:
<pre>
Estimating...please wait...
0 0 -log(L): 0  between
Error -- no active parameters. There must be

[2020-11-05 17:48] k-doering-NOAA opened #83 "create option to turn off HCR ramp in forecasting"
Imported from redmine, Issue [#82601](https://vlab.ncep.noaa.gov/redmine/issues/82601)
 Opened by @k-doering-NOAA on 2020-09-04
Status when imported: Resolved

See https://vlab.ncep.noaa.gov/web/stock-synthesis/public-forums/-/message_boards/view_message/11708297

Create an option "0" to turn off the ramp all together. A common hack to do this is:

<pre>
1 # Control rule method (1: ramp does catch

[2020-11-05 17:48] k-doering-NOAA opened #84 "add check in fcast_catch_allocation"
Imported from redmine, Issue [#82607](https://vlab.ncep.noaa.gov/redmine/issues/82607)
 Opened by @RickMethot on 2020-09-04
Status when imported: New

readdata needs to check for years in which catch allocation is not assigned.  OK if fixed catch is read for those years, but user needs warning

        echoinput<<"processed allocation groups by year"<<endl;
        for(y=1;y<=N_Fcast_Yrs;y++)

[2020-11-05 17:48] k-doering-NOAA opened #85 "3.30.16 runs slower than 3.30.15"
Imported from redmine, Issue [#82701](https://vlab.ncep.noaa.gov/redmine/issues/82701)
 Opened by @k-doering-NOAA on 2020-09-09
Status when imported: Resolved

SS 3.30.16 takes more time to run than SS 3.30.15. Investigate if this is due to switching to ADMB 12.2, new development in SS, or something else. Then, try to speed up SS (or at least the SS opt version)

[2020-11-05 17:48] k-doering-NOAA opened #86 "add option for constant or 0 selectivity below first knot in cubic spline"
Imported from redmine, Issue [#82789](https://vlab.ncep.noaa.gov/redmine/issues/82789)
 Opened by @iantaylor-NOAA on 2020-09-11
Status when imported: In Progress

I'm working with a group at IATTC on adding a new "empirical selectivity" diagnostic in r4ss (which is just the ratio of observed catch at age or length to expected numbers at age or length). This project will also include a tool to exte

[2020-11-05 17:48] k-doering-NOAA opened #87 "bug: mean size-at-age reporting when platoons>1"
Imported from redmine, Issue [#82912](https://vlab.ncep.noaa.gov/redmine/issues/82912)
 Opened by @RickMethot on 2020-09-16
Status when imported: Resolved

All mean size-at-age output for non-central platoons is shown as 0.0.
The ALK for each is reported and they differ, as they should.
The mean bodywt timeseries gets reported for each and this seems correct.

So, some logic problem is zeroing out

[2020-11-05 17:48] k-doering-NOAA opened #88 "implement transitional SPR calculations"
Imported from redmine, Issue [#83053](https://vlab.ncep.noaa.gov/redmine/issues/83053)
 Opened by @RickMethot on 2020-09-21
Status when imported: New

Some users are interested in transitional SPR calculations per Mace (1996).

This will be easier if natM is stored by "t" over the whole time series rather than by "s", or better as both.

[2020-11-05 17:48] k-doering-NOAA opened #89 "provide log-scale option for depletion and F_std; and provide multi-yr averaging"
Imported from redmine, Issue [#83055](https://vlab.ncep.noaa.gov/redmine/issues/83055)
 Opened by @iantaylor-NOAA on 2020-09-21
Status when imported: Resolved

In an email conversation (Sept 16-17 with subject "Wish List for ss3diags"), Henning Winker requested logBratio and logFratio in derived quantities.

Rick proposed adding a option+10 input for the log alternatives for all options:

1 # Depl

[2020-11-05 17:48] k-doering-NOAA opened #90 "consider new jenkins jobs for fast no estimation mod runs, predicted values"
Imported from redmine, Issue [#83123](https://vlab.ncep.noaa.gov/redmine/issues/83123)
 Opened by @k-doering-NOAA on 2020-09-22
Status when imported: In Progress

continues #82244. Additional jobs to consider setting up:
- Set up job to test the SS expected vals/bootstrapping (do expected vals/bootstrapping work in both model years and future years?) This seems a good idea b/c there have been seve

[2020-11-05 17:48] k-doering-NOAA opened #91 "check lambda impact on likelihood for catch vs. equilibrium catch"
Imported from redmine, Issue [#83773](https://vlab.ncep.noaa.gov/redmine/issues/83773)
 Opened by @iantaylor-NOAA on 2020-10-09
Status when imported: Resolved

@richard.methot found that the "Malawi_Demo" model used in the October 2020 course had lambda = 0 for the catch likelihood (like_comp = 8) which seemed to be interacting with the initial equilibrium catch likelihood, when that should have r

[2020-11-05 17:49] k-doering-NOAA opened #92 "create information on component-specific gradients for advanced diagnostics"
Imported from redmine, Issue [#83861](https://vlab.ncep.noaa.gov/redmine/issues/83861)
 Opened by @RickMethot on 2020-10-14
Status when imported: Test-InProgress

After a model has converged, the gradient of the total logL is near 0.0, but each individual component will have some gradient, the sum of which are near zero.  Accessing and summarizing these component-specific gradients has information

[2020-11-05 17:49] k-doering-NOAA opened #93 "allow separate Dirichlet-multinomial parameter for discard vs retained length comp"
Imported from redmine, Issue [#83862](https://vlab.ncep.noaa.gov/redmine/issues/83862)
 Opened by @iantaylor-NOAA on 2020-10-14
Status when imported: New

All the data-weighting options for composition data (Dirichlet-Multinomial parameters, sample size adjustments, and lambdas) apply equally to all partitions within a fleet. Many west coast groundfish stocks have much higher sample sizes of disca

[2020-11-05 17:49] k-doering-NOAA opened #94 "new output tables of Z and M by area"
Imported from redmine, Issue [#84179](https://vlab.ncep.noaa.gov/redmine/issues/84179)
 Opened by @iantaylor-NOAA on 2020-10-22
Status when imported: New

Suggestion from Max Cardinale to add figure showing F by area led to email discussion between Rick and Ian about the benefit of adding new SS output to support this.

Description from Rick was

New code in r4ss could then aggregate across ages (

[2020-11-05 17:49] k-doering-NOAA opened #95 "Revising use of logL with a dummy_data"
Imported from redmine, Issue [#84224](https://vlab.ncep.noaa.gov/redmine/issues/84224)
 Opened by @RickMethot on 2020-10-23
Status when imported: Test-InProgress

The error in forecast has been corrected, It was created on Oct 19  and now fixed.

The other difference was deeper.
ADMB will not run if there are no parameters estimated,
so with the -stopph 0 approach, some parameter needs to get a po

[2020-11-05 17:49] k-doering-NOAA opened #96 "add output with time series of recruitment distribution when recruitment distribution is time-varying."
Imported from redmine, Issue [#84534](https://vlab.ncep.noaa.gov/redmine/issues/84534)
 Opened by @RickMethot on 2020-11-02
Status when imported: New

current output displays only the recruitment distribution in endyear and in benchmark year.

Note that it is stored without a "year" index, so a new storage array may be needed.

benchmark recr_dist is stored crudely as:
  if(y>=Bmark_Yr(7)&&y<=Bmar

[2020-11-05 19:35] k-doering-NOAA opened #97 "mean weight at age data"
Thanks to Erin Bohaboy for reporting this on the forums (https://vlab.ncep.noaa.gov/web/stock-synthesis/public-forums/-/message_boards/view_message/12426308).

Rick discovered it was due to the `abs` in this line in [SS_readdat_330.tpl](https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/main/SS_readdata_330.tpl#L2265).

[2020-11-12 18:50] Rick-Methot-NOAA opened #99 "[Feature]: Fishery length comp data needs full season expected value"
SS produces ALK that are a snapshot in time. It uses the mean and sd of length-at-age at a particular time. This is appropriate for surveys that typically are about 1 month in duration and often display distinct length modes. Matching these length modes closely does, though, depend upon using accurate input of the mean month of the survey and using multiple subseasons so SS can produce an ALK for

[2020-11-15 22:00] Rick-Methot-NOAA opened #100 "Errors with age-retention"
In make_fish_selex, the indexing for retain_a was erroneously referring to fleet fs, not f.
Fixed the above and sent to Max.

Still need to fix the creation of average retain_a for use in benchmark and forecast.
Also, age-retention is not being output in report.sso.

[2020-11-17 19:47] Rick-Methot-NOAA opened #101 "control of recruitment distribution in forecast"
Per Max Cardinale:
Just to make you aware, but given all discussions we had between us about how to handle recruitment distribution in the forecast, we decided that we really need the SS modification before to go on with the forecast. When we use option 2 (white noise) to estimate recdist between areas, the model revert back to the starting conditions in the forecast, which causes the stock to run

[2020-11-19 00:19] iantaylor-NOAA opened #102 "New M equation for SS"
Email from Mark Maunder (part of larger conversation with Rick with the same subject line as this issue):

Attached file includes Mark's changes (renamed to .txt because github doesn't support .tpl attachments):
[natmort.tpl.txt](https://github.com/nmfs-stock-synthesis/stock-synthesis/files/5563481/natmort.tpl.txt)

[2020-11-19 00:25] iantaylor-NOAA opened #103 "SSB calculation with external wtatage"
Figure out mismatch in SSB calculations for model shared by Iago Mosqueira in [this VLab forums post](https://vlab.ncep.noaa.gov/web/stock-synthesis/public-forums/-/message_boards/message/12091248?_com_liferay_message_boards_web_portlet_MBPortlet_orderByCol=modified-date&_com_liferay_message_boards_web_portlet_MBPortlet_scStart=0&_com_liferay_message_boards_web_portlet_MBPortlet_delta=50&_com_life

[2020-11-19 21:23] k-doering-NOAA opened #104 "use github actions to compile SS"
The goal here would be to build windows, linux, and  mac versions of ss automatically. Jenkins can only build the linux version for now.

Started to put this together (24c3b78)

The steps I see toward doing this are:
- [x] compile ss safe on Linux to get familiar with github actions. Linux uses less github action min than windows or mac
- [x] compile ss safe on mac. Probably can expand the same sc

[2020-12-02 18:14] #85 closed, assigned to Rick-Methot-NOAA

[2020-12-08 16:00] k-doering-NOAA opened #105 "SS forecast option 5=input annual F scalar issues"
Large SD for forecasting values in 1 year found in a model sent by Katie Siegfried indicates something has gone awry with this option (at least in the particular model). See email thread "problems in with SS forecast option 5=input annual F scalar" for additional details.

[2020-12-08 21:14] #104 closed, assigned to k-doering-NOAA

[2020-12-08 21:55] kellijohnson-NOAA opened #106 "line endings in input files"
After talking to Jim Ianelli and Lee Qi about using SS on a Mac, I was altered to a pesky problem in the SS tpl that may have already been fixed because I am uncertain which version of the tpl they were using, but they said that sublime was having trouble with some of the line endings or escape character. @k-doering-NOAA do you know of a way to check them using sublime to ensure that the files can

[2020-12-09 20:35] iantaylor-NOAA opened #107 "smarter rules for when Bratio isn't available in derived quantities (e.g. prior to first catch year)?"
This line of code seem to limit the Bratio values reported to DERIVED_QUANTITES to start after the first year with catch:
https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/main/SS_readdata_330.tpl#L3550-L3551
Thus, in the "Simple" model, where the start year is 1971 and the first year with catch is 1972, the first Bratio value is Bratio_1973.

I'm assuming that ADMB can't handle sdrepor

[2020-12-10 20:37] k-doering-NOAA opened #108 "set up jenkins testing to pull from github instead of vlab"
This will be easier to do once this repository is public as no credentials should be necessary.

[2020-12-16 23:53] #83 closed, assigned to Rick-Methot-NOAA

[2020-12-17 22:54] iantaylor-NOAA opened #109 "wtatage.ss_new empty when Hessian is not positive-definite"
Max Cardinale reported a crash in the r4ss SS_plots() function for an empirical weight-at-age model which was due to an empty wtatage.ss_new file. By default r4ss uses the wtatage.ss_new to get information to plot the matrix of fecundity-at-age and weight-at-age because the values for all years are reported where the input wtatage.ss file would require filling in years when negative year values ar

[2020-12-18 22:35] Rick-Methot-NOAA opened #110 "continue parmdevs feature not working"
The continue pardevs feature is invoked by using parm dev type 20+x.
Find that it was not implemented fully.
Also find that for selectivity parameters, the Fcast_Specify_Selex feature needs to be "1", not "0".
The internal logic is now repaired and the echoinput augmented to show what is happening.
Also add a warning to inform user if Fcast_Specify_Selex is set to "0".

[2020-12-23 20:17] k-doering-NOAA opened #111 "clean up tags and establish common format"
I just realized that tags had not been moved over from vlab, as it is not automatically done by using just `git push remote_name` (where remote_name is where you are pushing it, usually by default `origin`) - you must push up the tags individually using `git push remote_name tag_name`, where `tag_name` is the name of the tag. See the [git docs on tagging](https://git-scm.com/book/en/v2/Git-Basics-

[2020-12-23 21:18] Rick-Methot-NOAA opened #112 "review SPR/YPR profile"
A user noted that SPR/YPR profile was incomplete for a particular model and noted that it was not produced if the Hessian was NPD.

It is not produced for NPD Hessian because it is only produced after the Hessian step.  This is because it forces changes to selectivity so could interfere with gradients.  But global MSY calculations make similar changes and it is allowed to happen before the Hessian

[2020-12-24 00:04] #111 closed, assigned to k-doering-NOAA

[2020-12-29 16:37] Rick-Methot-NOAA opened #113 "Issue with D-M for length when no age data; and trap for bad read of data lists"
M. Cardinale noted that use of D-M for length data requires that the headers for the age data must be read.

This should be an easy fix in the read_data routine such that an appropriate default value for index values exists,

[2021-01-04 17:55] #95 closed, assigned to k-doering-NOAA

[2021-01-04 19:44] k-doering-NOAA opened #114 "add stock synthesis specific contributing workflow info"
Add details about workflows for contributing that are specific to stock synthesis to CONTRIBUTING.md . Thanks to @iantaylor-NOAA  for realizing what is there already is not sufficient!

[2021-01-05 00:47] Rick-Methot-NOAA opened #115 "[Question]: Check on cohort growth devs in the Richards growth code"
noted a possible discrepancy while discussing this topic with Peter Kuriyama.

cohort-growth deviations are described as a multiplier on K, but are implemented as a multiplier on the growth increment calculated from K.  But for Richards growth function, the cohort growth factor seems inside the (), so directly affecting K.

[2021-01-08 01:29] Rick-Methot-NOAA opened #116 "need check on data bin ranges relative to pop bin ranges"
SS crashes with no warning when creating sizefreq transition matrix that needs lengths larger than the largest population length bin.

there already are suitable traps in expval when the sizefreq data is in wt units; so create code there to implement for length units.

SS will now exit when this condition occurs and provide this warning:
 error:  max population len bin 340 is less than max data bi

[2021-01-11 16:58] k-doering-NOAA opened #117 "Empirical weight at age file inputs need to be in a specific order to work"
Thanks to Max Cardinale for discovering this. Details below from Max's email (input files available under email with "Help needed" as the subject)

[code]

[2021-01-13 22:42] k-doering-NOAA opened #118 "Autogen working correctly with dev autocorrelation parameters?"
Thanks to Yukio Takeuchi for reporting this! This should first be replicated using a model like Simple.

Currently I am working to utilize auto generation of time varying short
parameters, in particular to allow five integer vector described in page 81
of SS 3.30.16 user manual have values of 1 or 2. Initially I am working for
the 1st element of the vector (i.e., for biology parameters) as WCPO
Sk

[2021-01-14 16:35] #106 closed, assigned to k-doering-NOAA

[2021-01-15 01:02] #118 closed, assigned to Rick-Methot-NOAA

[2021-01-16 00:13] chantelwetzel-noaa opened #119 "3.30.16 Incorrectly counting warnings"
I have been running models with version 3.30.16.00 and 3.30.16.02 and I have noticed that if you have at least one warning in the warning.sso file the N warnings reported in the file is always one greater than the warnings printed.  I suspect there numbers of warnings is being incorrectly incremented somewhere in the code.

[2021-01-19 22:52] k-doering-NOAA opened #120 "Reducing memory requirements in Stock Synthesis"
Suggestion from Yukio Takeuchi:

[code]

This problem will probably not be solved with SS, but is worth noting for FIMS

[2021-01-20 19:28] #117 closed, assigned to k-doering-NOAA

[2021-01-20 19:34] k-doering-NOAA opened #122 "clarification on "Resolved" label v. closing issues?"
When should we used the "Resolved" label versus closing an issue?

What makes sense to me would be using "Resolved" when an issue required a coding solution still needs testing or code review. Once those are complete, the "Resolved" label could be removed in the issue closed (the "Resolved" label seems to be one we could remove once closing an issue).

I wonder if there other ways of thinking abou

[2021-01-20 21:30] #120 closed, assigned to nobody

[2021-01-20 21:42] #109 closed, assigned to Rick-Methot-NOAA

[2021-01-22 00:18] #119 closed, assigned to Rick-Methot-NOAA

[2021-01-22 00:20] #116 closed, assigned to Rick-Methot-NOAA

[2021-01-22 00:36] #16 closed, assigned to Rick-Methot-NOAA

[2021-01-27 16:29] k-doering-NOAA opened #123 "switch to compiling with ADMB 12.3 upon its release"
ADMB 12.3 will likely be released soon (probably in the next few weeks). Should we test it out once available and try to switch over to compiling SS with this version? I think there would be several advantages, including a fix that should speed up runs (relative to ADMB 12.2), the -hess_step option, and a fix for reading input files with OSX9 line endings.

[2021-01-27 16:34] k-doering-NOAA opened #124 "move ss testing models to github, move jenkins job input files to SS repositories"
Some are currently in a FRAM data team repo, but there is no reason for them to be there. It would be better to add them either to the SS repository itself or the vlab model examples repository.

[2021-01-27 19:49] k-doering-NOAA opened #125 "add comments to .ss_new re equilibrium catch"
Fore equilibirium catch, there is a fleet-season init_F only for fleet-seasons that have catch.   I will tune up the ss_new to help.   and that there is a fleet-season init_F only for fleet-seasons that have catch.   I will tune up the ss_new to help.

_Originally posted by @Rick-Methot-NOAA in https://github.com/nmfs-stock-synthesis/ss-documentation/issues/16#issuecomment-768446214_

[2021-01-27 22:47] #65 closed, assigned to Rick-Methot-NOAA

[2021-01-27 23:20] #12 closed, assigned to Rick-Methot-NOAA

[2021-01-28 00:03] #125 closed, assigned to Rick-Methot-NOAA

[2021-01-29 18:05] kellijohnson-NOAA opened #126 "mcmc iter not matching in posteriors and derived_posteriors"
Anyone ever had the values in the Iter column of posteriors.sso and derived_posteriors not match for a given model run? I have an example (run with adnuts) that is missing iter 4831 in posteriors.sso and missing iter 4826 and 4827 in derived_posteriors.sso. I only caught this because r4ss uses `cbind` to bring the two data frames together and they didn't have the same number of rows so they couldn

[2021-02-01 23:33] Rick-Methot-NOAA opened #127 "simplify recr_dist code"
recr_dist is created with a sex extension to the array range:
  4darray recr_dist(styr-3,YrMax,1,N_GP*gender,1,N_settle_timings,1,pop);

but there is no input of sex-specific recr_dist
and usage of recr_dist uses GP(g) which indexes Gpat*sex
        Recr(p,t+1+Settle_seas_offset(settle_g(g)))+=equ_Recr*recr_dist(y,GP(g),settle_g(g),p)*platoon_distr(GP2(g));

So it would be simpler to remove the se

[2021-02-01 23:53] #127 closed, assigned to Rick-Methot-NOAA

[2021-02-02 00:42] #55 closed, assigned to Rick-Methot-NOAA

[2021-02-03 17:39] #126 closed, assigned to nobody

[2021-02-03 20:11] iantaylor-NOAA opened #128 "error in Recommend_var_adj output for age comps"
@kellijohnson-NOAA first noted that the `Recommend_var_adj` output is 1 in cases where it shouldn't be in a comment on this comment on a commit from March: https://github.com/nmfs-stock-synthesis/stock-synthesis/commit/c490548c866fb2286f3674d225c216a090b22268#comments.

As noted there, my intent was to fix the value at 1 for the Dirichlet-Multinomial to avoid double tuning for those models, but I

[2021-02-03 22:01] Rick-Methot-NOAA opened #129 "reality check for starting conditions"
suggest adding these warnings into SS_proced.tpl  after the first iteration:
      cout<<" OK with obj_func "<<obj_fun<<endl;
      		if(SSB_yr(endyr)<0.01*SSB_yr(styr))
          {N_warn++; warning<<N_warn<<" ssb(endyr)/ssb(styr)= "<<SSB_yr(endyr)/SSB_yr(styr)<<"; suggest start with larger R0 to get near 0.4; or use depletion fleet option"<<endl;}
    warning<<annual_F(endyr,3)<<" "<<sum(catch_li

[2021-02-03 23:35] iantaylor-NOAA opened #130 "negative year inputs for Bmark_years in forecast file not working"
Piera Carpi (IPHC) got in touch after noticing that the Bmark_years reported in Forecast-report.sso all showed 2020 when she expected 2017 and 2020 based on forecast.ss inputs of -3 and 0.

I don't follow the logic of how the negative values are converted, but it looks like [this line](https://github.com/nmfs-stock-synthesis/stock-synthesis/blame/main/SS_readdata_330.tpl#L2882) added 8 months ago

[2021-02-05 21:15] k-doering-NOAA opened #131 "setup job on github actions to compile ss with warnings"
@nschindler-noaa included a warnings options in the [ss build script for unix](https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/main/Make_SS_330_new.sh). It would be great to create a job on github actions that runs the command so we can see the current warnings. If it makes sense to, we could also make the job fail if there are any warnings coming from ss, although I'm not sure this i

[2021-02-05 22:50] #128 closed, assigned to iantaylor-NOAA

[2021-02-17 21:01] iantaylor-NOAA opened #134 "interpretation of "final" parameter in sex-specific selectivity offset with double normal"
The Spiny Dogfish and Dover Sole assessments being conducted right now at NWFSC are both showing evidence of sex-specific selectivity (likely due to differences in distribution of the sexes for both species). Vlada and Chantel, leading these assessments, are exploring the use of the parameter offset option available for double-normal selectivity (set using a value of 3 or 4 in the "Male" column of

[2021-02-18 01:38] iantaylor-NOAA opened #135 "Extra parameters, derived quants for model with rawSPR and no recdevs"
The attached files from Jason Cope have two elements of the output that seem strange.

First, the only SPRratio values reported are SPRratio_2019 and SPRratio_2020, as compared to Bratio which goes from Bratio_1992 to Bratio_2020. The starter file has
`4 # SPR_report_basis:  0=skip; 1=(1-SPR)/(1-SPR_tgt); 2=(1-SPR)/(1-SPR_MSY); 3=(1-SPR)/(1-SPR_Btarget); 4=rawSPR`
so perhaps there's no point in in

[2021-02-18 01:53] Rick-Methot-NOAA opened #136 "improve wt_at-age storage efficiency"
currently there is:
[code]
and
[code]
AND
[code]
The code is constantly moving values among them.

Better approach:
save directly to `save_wt_age` when weight is calculated from growth,
and if doing empirical, then copy from `wtage_emp` to `save_wt_age` ONCE upon read.

Doing this will require creation of `Save_Wt_age_mid()` `also.

[2021-02-25 17:08] #114 closed, assigned to iantaylor-NOAA

[2021-03-02 23:29] Rick-Methot-NOAA opened #138 "Incorrect updating of wt-at-age vector at beginning of year"
This bug was detected while testing code for issue #102 .  The bug is described with this new issue.

The problem stems from the need to have smrybiomass, stored in Smry_Table(y,2), available before any time-varying parameters are applied.  This is because of possibility that a time-varying parameter will invoke density-dependence, hence need access to the current summary biomass.
When growth is u

[2021-03-02 23:32] Rick-Methot-NOAA commented on #136
related to issue #138

[2021-03-03 19:30] Rick-Methot-NOAA opened #139 "expand capability of hermaphroditism function"
from Skyler Sagarese and SEFSC colleagues
for the scamp assessment
(1) Hermaphroditism function: currently the probability of transition for age 0 is 0 and is determined for the remaining ages based on the input parameters for the cumulative normal distribution. For scamp, the probability of transition should equal 0 for age 1, but we are not able to implement that in SS currently (small non-zero

[2021-03-04 18:01] Rick-Methot-NOAA commented on #103
We should test this after fixing wt-at-age updating per #138

[2021-03-04 22:27] k-doering-NOAA commented on #124
closing this issue, as jenkins is now pulling from the stock-synthesis repository on github.

[2021-03-04 22:27] #124 closed

[2021-03-04 23:44] iantaylor-NOAA opened #140 "likelihood values for some quantities with lambda = 0 not getting reported"
Vlada Gertseva and I noticed inconsistent reporting of the likelihoods for values with lambda = 0.

The mean size at age likelihood is only calculated when the lambda > 0 controlled by this line:
https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/e28f64dc3a4eb00f842fcdddd03d3b61ccfa1d18/SS_objfunc.tpl#L458

In contrast, other components also do the calculation if save_for_report > 0, as

[2021-03-04 23:51] Rick-Methot-NOAA commented on #140
Go for it.  I am far away from that part of the code.
get the issue included in the new project tab

On Thu, Mar 4, 2021 at 3:45 PM Ian Taylor <notifications@github.com> wrote:

[2021-03-05 00:09] #108 closed

[2021-03-05 01:38] Rick-Methot-NOAA commented on #139
got a first cut done.
new input format looks like:
1 #_hermaphroditism option:  0=none; 1=female-to-male age-specific fxn; -1=male-to-female age-specific fxn
-1.2 # Hermaphro_season.first_age
0.5 # fraction_of_maleSSB_added_to_total_SSB
pushing code to the branch

[2021-03-05 18:10] k-doering-NOAA opened #142 "change testing result files to .csv, add new filtered output"
- [x] Change these files to .csv to make them easier to open in excel; make sure they can still be read easily on the Jenkins website
- [x]  Produce a 3rd output file that only includes any quantities that had differences. This is helpful even if all these values aren't flagged to make the jenkins runs fail, as we might consider adjusting our testing tolerances moving forward.

[2021-03-05 19:25] iantaylor-NOAA commented on #140
Issue resolved in Pull Request #141.
I've changed the Issue Prioritization to "Done" and will close this issue.
It is listed on the [3.30.17 release issues](https://github.com/nmfs-stock-synthesis/stock-synthesis/milestone/1) Milestone so can be noted on the change log if appropriate.

[2021-03-05 19:25] #140 closed

[2021-03-05 19:28] Rick-Methot-NOAA commented on #138
this appears to be resolved.
note that a substantial re-work of the storage of such quantities and their order of calculation is in the new-natmort branch, but further work is on hold pending higher priorities

[2021-03-05 19:42] iantaylor-NOAA opened #143 "better document development workflow?"
The contributing guide https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/main/CONTRIBUTING.md is useful for those interested in modifying the code. However, it would be useful to have further notes on the development workflow beyond that point.

In particular, I would find it useful to have written down a preferred set of steps for the SS team related to resolving an issue, such as (onl

[2021-03-05 20:06] k-doering-NOAA commented on #143
Great idea, Ian. It would be great to establish more norms around our workflow and have a written down reference guide. I think for anything that is just for the internal SS development team, we can have a wiki page, and anything that applies more broadly to contributors can go in the contributing guide? Does this division make sense?

Another part of this could be which checks we run and when. We

[2021-03-05 21:14] k-doering-NOAA commented on #123
ADMB 12.3 has been released: https://github.com/admb-project/admb/releases/tag/ADMB-12.3 so we can start transitioning.

[2021-03-08 19:41] k-doering-NOAA commented on #123
@iantaylor-NOAA , would you mind asking IT to get admb 12.3 onto tumnus and mac mini? not too much a rush, given we have gh actions, but we may still need it sometimes.

I've update all the builds on gh actions (currently in a [branch](https://github.com/nmfs-stock-synthesis/stock-synthesis/tree/test_admb_12_3)) and am now testing that admb 12.3 works as expect on jenkins. We should know tomorrow

[2021-03-08 23:35] iantaylor-NOAA commented on #123
Request submitted for Tumnus (linux server at NWFSC).
Installing on the mac mini shared by a few of us at NWFSC created some errors noted at https://github.com/admb-project/admb/issues/197.

[2021-03-09 20:13] k-doering-NOAA opened #145 "add more version tags to repository"
The SS source code is currently not tagged between v 3.30.02 and 3.30.10. Create tags based on versions that were [announced](https://vlab.ncep.noaa.gov/web/stock-synthesis/public-forums/-/message_boards/category/988476) and are archived on the google drive.

[2021-03-09 20:19] iantaylor-NOAA commented on #123
ADMB 12.3 has now been successfully installed on both Tumnus and the Mac mini.

[2021-03-09 20:22] Rick-Methot-NOAA commented on #145
do you have the older change log (excel version) in which much of the info is recorded?

[2021-03-09 20:25] kellijohnson-NOAA commented on #123
For what it is worth, i was able to successfully compile SS with the new version.

[2021-03-09 20:28] k-doering-NOAA commented on #123
Thanks so much @iantaylor-NOAA, I appreciate the help! And thanks Kelli, that is good to know; it also compiled on my machine.

@Rick-Methot-NOAA , have you been able to upgrade? I think we can close this issue once you have upgraded and pull request #144 is merged in, then just used 12.3 to compile from now on.

[2021-03-09 21:26] iantaylor-NOAA commented on #145
Sorry to add more things to the mix, but the history of the `SS_versioninfo_330safe.tpl` file seems to show exactly which commits had a version number changed going back to 3.30.0.0 in 2016: https://github.com/nmfs-stock-synthesis/stock-synthesis/commits/main/SS_versioninfo_330safe.tpl

It's possible that sometimes the version number got incremented but then a subsequent bug fix was made before th

[2021-03-09 21:44] k-doering-NOAA commented on #145
@iantaylor-NOAA that is a really smart way to look over version history (and yes, good foresight, haha). There are definitely some commits in the logs that say things like "add change to previous commit", but we don't exactly know which was the last commit when the exes were compiled anyway, except by version number.

[2021-03-09 23:12] Rick-Methot-NOAA commented on #123
I have switched.  So we are good to go

[2021-03-09 23:25] #123 closed

[2021-03-09 23:58] k-doering-NOAA commented on #145
Now added. Hopefully this will help browsing older history of the code, for example with the [compare tool](https://github.com/nmfs-stock-synthesis/stock-synthesis/compare/).

[2021-03-09 23:58] #145 closed

[2021-03-10 20:42] Rick-Methot-NOAA commented on #134
starting work on this now.  I suspect that I will create a new selectivity option rather than make a current one even more complicated with options

[2021-03-10 22:22] Rick-Methot-NOAA opened #147 "parameter bound check improvement"
A "nan" for SoftBoundPen was tracked to this situation:

parm initial value was < parm min
AND
-stopph = 0.

so this code in Check_Parm function did not set parm initial value to parm min:
    else if(Pval<Pmin && PrPH>=0)
    {N_warn++;
    	 warning<<N_warn<<" "<<" parameter init value is less than parameter min "<<Pval<<" < "<<Pmin<<" for parm: "<<iparm<<endl;
    	echoinput<<" parameter init v

[2021-03-11 03:10] Rick-Methot-NOAA commented on #134
The combinations get complex very quickly.  I cannot imagine how to modify this approach without creating new, hard to test, situations with equally weird patterns.
I will start by copying current selex 24 and copying into currently discontinued selex 2, so we can use selex 2 as a testbed.
I really want to streamline the code for this selex 2.  There are TOO MANY "if" statements!  But the testing

[2021-03-11 18:29] iantaylor-NOAA commented on #147
I can't imagine a situation where you would want a parameter fixed outside the bounds.
However, if the parameters are fixed, I could imagine problems associated with automatically changing the initial value to go within the bounds. Maybe it would be better to just exit put it on the user to fix their bounds or initial values. I think that would be reasonable whether the parameter was fixed or esti

[2021-03-11 18:35] iantaylor-NOAA commented on #134
I'm sure there's a lot of complexity that I don't understand, but this is the sequence that I imagined:

1. calculate a new set of 6 derived double-normal parameters values using 6 base parameters & 4 sex offsets
2. use those 6 derived values to calculate a double normal curve with max = 1.0 for the offset sex
3. use the 5th sex offset parameter (SzSel_*_Scale) to rescale the curve calculated in s

[2021-03-11 18:41] Rick-Methot-NOAA commented on #134
I can try that.  Although it does not seem logical to scale the smallest fish.  Making the degree of scaling conditional on length maturity curve seems ideal, but another order of operations quagmire.

[2021-03-11 19:04] iantaylor-NOAA commented on #134
I hadn't thought about how the current approach applies the same Size_DblN_start value for both sexes. Adding an offset for that parameter could allow it to counteract any rescaling. Or maybe this is a reason why the dogleg option is the better choice for cases where scale is the primary difference between sexes as it allows the selectivity to start equal and diverge at larger sizes.

[2021-03-11 19:41] Rick-Methot-NOAA commented on #134
Got it.  This simple code change applies the scale to the final as well as the peak:
//              point2=1.0/(1.0+mfexp(-final));
              point2=Apical_Selex/(1.0+mfexp(-final));

I am implementing this as selex pattern 2 (which was a previously deprecated option).
Kathryn - no need for a Jenkins on this as no existing model uses selex pattern 2.
I will push to the repo
Rick

[2021-03-11 19:56] #21 closed

[2021-03-12 15:49] k-doering-NOAA commented on #147
Here is the warning I see in Darkblotched_2015:

[code]
Is there any way to get a more informative name for the parameter? I think that would be helpful for users trying to hunt down which parameter is causing the issue. Otherwise, I think the warning has a good level of info!

[2021-03-12 16:55] Rick-Methot-NOAA commented on #147
I echoed the same warning to echoinput, so I was hoping where it appears in echoinput would be enough of an indicator of where the problem is.
I will check on possibility of passing the cumulative parameter ID to this function call.  If that is easy, then I can easily put parameter name in the warning message.

[2021-03-12 17:12] zandjyo opened #148 "Typo in SS-timevaryparm.tpl L221"
https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/70c765caf3e4468b8131e15287eaef01c620238f/SS_timevaryparm.tpl#L221

The environmental link option '4', logistic link, is not working properly.
I think there is a typo in line 221:

 parm_timevary(tvary,y1)*=2.00000/(1.00000 + mfexp(-timevary_parm(timevary_parm_cnt+1)*(env_data(yz,timevary_setup(7))-timevary_parm(timevary_parm_cnt))));

sh

[2021-03-12 18:48] Rick-Methot-NOAA commented on #148
change has been made; also for line 352.
Both occurrences are long lines of code, so I expect that when yz was updated to y1, only the first occurrence on the line got changed.

[2021-03-12 19:27] k-doering-NOAA commented on #148
@zandjyo Here is the ss executable to test: https://github.com/nmfs-stock-synthesis/stock-synthesis/actions/runs/647154096 . Just scroll down to the "artifacts" section and click on ss_win_exe . Could you see if that fixes the issue for you?

Note this exe has some newer changes since 3.30.16 and is experimental, so you may run into some other differences that are unrelated to the bug fix. Feel fr

[2021-03-12 19:51] k-doering-NOAA commented on #147
the echoinput output makes it really easy to find which parameter has the error. So maybe just make the warning.sso more generic and refer folks to echoinput.sso?
"Parameter init value is greater than parameter max. See end of echoinput.sso for more details."

Some other observations from our test set:
1. Now fixed values need to be within bounds, too, which was not previously the case. All the va

[2021-03-12 20:01] zandjyo commented on #148
Appears to now be working as intended. Thanks! Steve

On Fri, Mar 12, 2021 at 11:28 AM Kathryn Doering ***@***.***>
wrote:

--
Steven J. Barbeaux Ph.D.
Research Fisheries Biologist
Alaska Fisheries Science Center, National Marine Fisheries Service
National Oceanic and Atmospheric Administration
7600 Sand Point Way NE, Seattle, WA 98115 USA
Tel:  (206) 526-4211

[2021-03-12 20:14] Rick-Methot-NOAA commented on #147
I will make these changes and will create an exception for Pval <-900

Cannot make exception for all fixed values because SS cannot always tell
difference between a permanently fixed value and a value temporarily fixed
because maxphase=0.

Rick

On Fri, Mar 12, 2021 at 11:51 AM Kathryn Doering ***@***.***>
wrote:

[2021-03-12 20:22] k-doering-NOAA commented on #148
Great -Thanks for reporting!

[2021-03-12 20:22] #148 closed

[2021-03-12 20:45] Rick-Methot-NOAA commented on #147
revised such that new warning and action is:
see echoinput for parm_type, will exit if prior requested

[2021-03-12 21:22] k-doering-NOAA commented on #147
New warning looks good!
what does "will exit if prior requested" mean?

[2021-03-12 21:34] Rick-Methot-NOAA commented on #147
The problem with bad parameter bounds mostly occurs when the prior
probability depends upon the Pval being between Pmin and Pmax.

So now the code examines the bounds and displays bad conditions in the
warning, but if that parameter does not have a prior to be calculated, then
it plays through after displaying the warning.  It only exits if a prior is
requested, thus avoiding a crash of some sort

[2021-03-15 19:02] k-doering-NOAA commented on #147
I see, thanks for the explanation! I am in the process of updating the test models and fully testing this change.

What about a slight wording change: "SS will stop early if prior requested for this parameter" ?

[2021-03-16 00:04] Rick-Methot-NOAA commented on #135
Just now picking this up.  Let me know if you have any new info to share.
This is a strange example.  No fleets have retained catch, so totcat(y) is and this causes std_err reporting indexes to be miscounted.  What is the intent of having all fleets be bycatch only fleets?

[2021-03-16 00:10] k-doering-NOAA commented on #135
I think this is a scenario from Jason's datalimited tool: https://github.com/shcaba/SS-DL-tool . @shcaba

[2021-03-16 16:22] Rick-Methot-NOAA commented on #135
Issue 1 was due to the user file not having any fleet with retained catch because SS is looking to do the SPR se in years with totcat(y)>0.  Problem resolved but setting fleets as type 1, not 2, and setting catch lambda = 0 so the read catch amount does not influence the logL and F parameters.

Issues 2 and 3 will be addressed next.

[2021-03-16 21:38] Rick-Methot-NOAA commented on #135
Issue 3 is now resolved.  Biggest challenge was in resolving all references to the number of active parameters.  Now if implementation error = 0, then Do_Impl_Error is set to 0 and nothing regarding implementation error is reported.   Previously, some got reported as a routine part of Do_Forecast, even if it was zero.
A consequence of this is that the number of parameters is decreased except when

[2021-03-16 21:44] iantaylor-NOAA commented on #135
Thanks, @Rick-Methot-NOAA. I suspect that having fewer parameters that weren't requested is worth the cost of some failed ss.par file reads. In general it seems like a bad idea to carry .par files across different model versions. I don't know if anyone would see this if we put it in the user manual, but I would guess that best practice is always to re-run with estimation from starting values in th

[2021-03-16 22:01] k-doering-NOAA commented on #135
ok, thanks, Rick! I just check and I think this won't break code in the r4ss function to read par files (https://github.com/r4ss/r4ss/blob/development/R/SS_readpar_3.30.R), which is helpful.

You are right, though, it will break the no estimation runs on jenkins, but running with estimation should work fine as the ss_summary.sso is used to do the comparison.

[2021-03-17 01:06] Rick-Methot-NOAA commented on #135
Now, if do_recdev==0, the Fore_Recruitment vector has null length and the reporting does not show devs for the forecast years.
In several places, I needed to add logic addressing do_recdev.
This has only been tested with simple example, so needs a full test and perhaps an added manual test with retro_years.  As with the associated change for impl_error, this change will break reading of prior ss.p

[2021-03-17 19:30] Rick-Methot-NOAA commented on #139
Kathryn,
please add documentation in the manual.
I will pull code into main

[2021-03-17 21:53] Rick-Methot-NOAA commented on #100
@k-doering-NOAA .  Github thinks this branch is ahead by 2 commits, and the comments suggest that a bit more work should be done.  What else do you remember about this branch?

[2021-03-17 21:54] k-doering-NOAA commented on #139
@Rick-Methot-NOAA I opened an issue. Is this still the correct inputs to access the option?

[2021-03-17 21:57] Rick-Methot-NOAA commented on #139
correct.  Please add this to the manual

[2021-03-17 22:04] skylersagarese-NOAA commented on #139
Here are some notes that I added when I set up my file
-1.2 # Hermaphro_season.first_age (-1 means all seasons); fractional part will be converted to the first age that switches sex
1 # fraction_of_maleSSB_added_to_total_SSB (fraction ranging from 0.0 to 1.0 of the male SSB added into the total SSB)

[2021-03-17 22:31] Rick-Methot-NOAA commented on #100
I checked the network graph, which is very nice!, and see that this was never merged back into main.  I will do a compare and get this taken care of next.

[2021-03-17 22:52] k-doering-NOAA commented on #100
sounds good, good idea to look at the network graph! I don't have anything to add. In case this is helpful (although this may have been what you meant by compare): https://github.com/nmfs-stock-synthesis/stock-synthesis/compare/main...issue%23100_age-retention

[2021-03-17 22:53] k-doering-NOAA commented on #139
Thanks @skylersagarese-NOAA ! Closing this, since it is merged into main and we have another issue open for the manual.

[2021-03-17 22:53] #139 closed

[2021-03-17 23:29] Rick-Methot-NOAA commented on #100
manually (using ultracompare) transfer the changes made in age-retention branch into the main branch.
This includes:

- correct reference to fleet index (f vs fs) in selex
- creating average age-retention (discard_a) in setup for benchmark
- reporting of Aret (e.g. discard_a) in Age_Selex section of report.sso

the age_retention branch will be removed.

[2021-03-18 15:56] k-doering-NOAA commented on #147
I think this works as expected, based on the jenkins testing. Jenkins tests now all passing again, too.

I still think the slight wording change above would be helpful, though, but otherwise, I think testing for this issue is complete.

[2021-03-18 18:28] iantaylor-NOAA commented on #109
Pull Request #149 includes some additional changes related to custom reporting for wtatage.ss_new which I discovered while looking into this issue.

Also, using current SS code and ADMB 12.3, I'm seeing wtatage.ss_new written even with a non-positive-definite Hessian, which was the original problem, so I'll remove the "wait" label.

[2021-03-19 23:08] k-doering-NOAA commented on #135
Jenkins ran the model test set with estimation and hessian on the branch reduce-extra-fcast-quantities ; The [three area double normal selectivity](https://github.com/nmfs-stock-synthesis/ss-test-models/tree/main/models/three_area_double_normal_selex) model did not run all the way through. I tested locally using this [github compiled exe](https://github.com/nmfs-stock-synthesis/stock-synthesis/run

[2021-03-19 23:13] Rick-Methot-NOAA commented on #135
Back on my workbench

On Fri, Mar 19, 2021 at 4:08 PM Kathryn Doering ***@***.***>
wrote:

[2021-03-20 01:10] Rick-Methot-NOAA commented on #135
This is a very strange example.
Code tweaked so it now runs.
User will now get this warning:
Implementation error incompatible with neg. phase for forecast rec_devs; SS will run without active impl error

[2021-03-22 15:22] k-doering-NOAA commented on #135
Thanks, I confirmed the model now runs (with -stopph 0 and -nohess) and that the new error shows up. Jenkins testing was just restarted on the reduce-extra-fcast-quantities branch.

Given that the example is "strange" do you think it should be modified for testing purposes?

[2021-03-22 15:42] Rick-Methot-NOAA commented on #135
I do not know the full history of this example, but I suspect it was assembled just to demonstrate model configuration, but not to actually run or to have realistic looking data.  I would replace this one with the super-example I was once working on.

[2021-03-22 15:42] k-doering-NOAA opened #150 "warn about or change duplicated fleet names"
Thanks to Andre Punt for reporting this!

This matters because some r4ss functions may not work properly if the fleet names are the same for multiple fleets, so it would be good for SS to either just warn about this or maybe change fleet names for the user.

[2021-03-22 15:46] k-doering-NOAA commented on #135
@Rick-Methot-NOAA , yep, I think this is a made up example for the configuration. I guess I'll leave it as-is for the time being?

[2021-03-22 15:48] Rick-Methot-NOAA commented on #135
OK for now.  But meaningless to run it with Hessian.

[2021-03-22 18:15] iantaylor-NOAA commented on #135
I think this model was a simplified version of the 2009 Yelloweye Rockfish assessment that Ian Stewart created long ago. The catch history looks very similar to YelloweyeRF_2017 which is in our set as well.

Any strange settings may be the accidental result of many conversions starting with SS version 3.03 that was used in 2009 (I just looked it up out of curiosity). I'm not aware of anything spec

[2021-03-22 18:25] k-doering-NOAA commented on #135
That makes sense to me. Note that the CanaryRF_2015 model isn't very stable so it is run, but its results are not compared to a reference file; but still, we have a yelloweye model with 2 areas and double normal selectivity as well as a 3 area model. It seems fine to drop this one to me. An additional advantage is this model takes an hour to run with hessian, so it will speed up Jenkins runs!

[2021-03-22 19:53] kellijohnson-NOAA commented on #150
I think a clear warning is sufficient. Sometimes too much doing things for
the user can lead to confusion.

On Monday, March 22, 2021, Kathryn Doering ***@***.***> wrote:

--
Kelli Faye Johnson, PhD
Research Fish Biologist
Northwest Fisheries Science Center
National Marine Fisheries Service
2725 Montlake Boulevard East
Seattle, Washington 98112
(206) 860-3490
***@***.***

[2021-03-22 20:09] k-doering-NOAA commented on #150
@kellijohnson-NOAA are you in favor of a warning that allows SS to run still or SS exiting on error (with message) when fleets names are duplicated?

[2021-03-22 20:21] kellijohnson-NOAA commented on #150
Warnings that let the model keep running are less likely to lead to users
doing anything. So, I would say exit with error.

On Monday, March 22, 2021, Kathryn Doering ***@***.***> wrote:

--
Kelli Faye Johnson, PhD
Research Fish Biologist
Northwest Fisheries Science Center
National Marine Fisheries Service
2725 Montlake Boulevard East
Seattle, Washington 98112
(206) 860-3490
***@***.***

[2021-03-22 21:53] #135 closed

[2021-03-23 18:31] k-doering-NOAA opened #151 "phase out translation exe after 3.30.17 release"
The ss_trans.exe version has been a valuable tool for Stock Synthesis users updating their models from 3.24 to 3.30. However, many models have now been converted and there is a fair amount of maintenance involved in keeeping this version up to date as new features are added to SS.

Phase out the transition executable after the 3.30.17 to reduce the burden of maintenance. User could still use up to

[2021-03-23 22:10] Rick-Methot-NOAA commented on #150
That was indeed quick.
warning produced is:
 duplicate fleet names for fleets: 2 and 3; SURVEY1; SS will exit

[2021-03-23 22:35] k-doering-NOAA commented on #92
Created https://github.com/r4ss/r4ss/issues/501. I don't think anything else is needed on the SS side, so marking as "resolved".

[2021-03-23 22:38] #92 closed

[2021-03-23 23:33] k-doering-NOAA commented on #150
For once an easy fix for you, @Rick-Methot-NOAA! I tested the change as well and works exactly as described.

[2021-03-23 23:34] #150 closed

[2021-03-23 23:44] k-doering-NOAA commented on #131
Got this working in a new job called build-warnings : https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/gh_actions_warn/.github/workflows/build-warnings.yml, left the final version in a branch for now. I did need to modify build with warning script slightly, but I think since it will mainly be used only on gh actions from now on it should be fine.

It looks like there are 2 warnings tha

[2021-03-24 00:34] Rick-Methot-NOAA commented on #131
It is good to see these warnings.  Both could be ignored.  I added one line to the code so the 2nd will not occur.  The first is a relic, but is a read item, so a pain to remove.

[2021-03-24 14:51] k-doering-NOAA commented on #131
Thanks @Rick-Methot-NOAA ! I will ignore the first warning, then, but then have the job fail if any additional new warnings pop up so we don't miss them. We shall see how that goes...

[2021-03-25 15:29] k-doering-NOAA opened #152 "dirichlet multinomial parameters must be labeled consecutively"
It looks like Dirichlet multinomial parameters must be labeled consecutively from 1 to the last parameter in defining them in the data file in order for SS to read them correctly. For example, say a user has a model with DM parameters labelled 1 to 4 in the data file. If a user decides to drop a fleet, say, the one associated with DM parameter 1, then there will only be DM parameters for 2 to 4 (3

[2021-03-25 16:39] Rick-Methot-NOAA commented on #152
I will take a look at this.  Please send me an example setup in which I can invoke the problem.

[2021-03-25 18:28] k-doering-NOAA commented on #152
Thanks, just forwarded you an email with an example.

[2021-03-25 21:40] Rick-Methot-NOAA commented on #152
The numbering of the requested D-M parameters must be consecutive and cannot exceed Nfleet.
I created a fatal warning if user tries to assign a D-M index > Nfleet.
I have not created an algorithm to figure out if any number gets skipped in the sequence.

So, this is legit and will take 6 parameters:
#_mintailcomp	addtocomp	combine_M_F	CompressBins	CompError	ParmSelect	minsamplesize
-0.001	1e-07	0

[2021-03-25 21:51] k-doering-NOAA commented on #152
Ok, thanks for confirming @Rick-Methot-NOAA .

I added [a warning in the r4ss fxn to read datafiles](https://github.com/r4ss/r4ss/commit/472463b5d4e0396070fb239936d65bbc131e6c3e) that does check that there aren't any skipped values. But I could see how this algorithm to do the check would be more lines of code (and hence more time to create) in c++ code...

Perhaps the one other mitigation (beside

[2021-03-25 22:06] Rick-Methot-NOAA commented on #152
Yes!  Please do add to the user manual.

[2021-03-25 22:42] k-doering-NOAA commented on #152
Great, I added a sentence to the manual clarifying that  parameter numbers cannot be skipped. I think this can be closed if there won't be any more changes to the ss source code. Thanks @Rick-Methot-NOAA !

[2021-03-30 22:43] Rick-Methot-NOAA commented on #101
One more tweak to give users more control of time-varying recruitment distribution (a timevarying MGParm) in the forecast.
The user request was to have the time_varying recr_dist (which controls recruitment between areas in a multi-area model) be equal to the average recr_dist over a range of prior years.  The code was already modified to do this, and enforce this, when the forecast recruitments a

[2021-03-31 00:46] Rick-Methot-NOAA opened #153 "improper carry-forward of timevary recr_dist and migr_rate parameters"
recr_dist, like migr_rate is stored by year.
wt_len and natM and maturity/fecundity are stored by season, so same values persist across years until updated again.

for migr_rate, when timevary_MG(y,5) triggered an update, the updated values were copied forward for all years until there was another year for which timevary_MG(y,5)>0.

However, it only carried forward until endyr+1, so possible that

[2021-03-31 00:47] Rick-Methot-NOAA commented on #101
problem now addressed in issue #153 was first detected while working on this issue.

[2021-04-01 20:06] Rick-Methot-NOAA commented on #135
one more tweak to correct the parameter label indexing in write_ssnew

[2021-04-05 22:53] Rick-Methot-NOAA opened #154 "discrepancies in smrybio and totbio reporting"
Overall the calculation and storage of totbio and smrybio is messier and more convoluted than it should be.  Some are calculated on the fly, and some not until the write stage.
The Time_Series table, which r4ss relies on, calculates then using:
     temp=natage(t,p,g)(Smry_Age,nages)*Save_Wt_Age(bio_t,g)(Smry_Age,nages);
     Bio_Comp(GP(g))+=value(temp);   //sums to accumulate across platoons and

[2021-04-05 23:36] k-doering-NOAA commented on #154
Some observations using the Simple model, in case they are helpful. I ran simple using 3.30.16 and then using the [current main branch](https://github.com/nmfs-stock-synthesis/stock-synthesis/tree/a923c2546dd9bff6aafd43c63bf2528a05d2f32e).

In 3.30.16:
- Totbio values (labeled AllBio) and SmryBio for all years (model years and forecast years) are different in Report.sso, but are the same in ss_sum

[2021-04-06 03:39] Rick-Methot-NOAA opened #155 "time-vary growth discrepancy"
In the 1st year with time-vary growth parameters, the design is that those new growth parameters will affect in-season growth for that year and growth to the start of the next year.

However, examination of model output indicates that for the first age after Amin, the size at that age is affected already at the beginning of the year with the time-vary parameters.

In a limited test, if Amin = 1 (o

[2021-04-06 04:35] Rick-Methot-NOAA commented on #154
fix original problem after finding that ALK was not getting updated with correct subseas.

Continue working after creating an example with time-vary_growth.  Transition between years is not being handled correctly.

[2021-04-06 14:39] k-doering-NOAA commented on #154
Note there is an [example with timevarying growth using blocks](https://github.com/nmfs-stock-synthesis/ss-test-models/tree/main/models/growth_timevary)  in case it is helpful. Approx. run time is ~ 1 min

[2021-04-06 23:56] Rick-Methot-NOAA commented on #155
Initial finding is that the lack of synchrony in updating growth at the correct time step was introduced when density-dependent parameter option was worked on.  At that time, it was found necessary to create wt_at_age before the time-vary parameter call was made.  This used the length-at-age which already had been projected to the beginning of the relevant year using the previous year's growth par

[2021-04-08 01:57] Rick-Methot-NOAA commented on #154
This and issue #155 are both resolved.
A fuller accounting can be found with issue #155

[2021-04-08 02:03] Rick-Methot-NOAA commented on #155
This is now resolved, after two days of sleuthing.  A modification of simple's control.ss with time blocks for growth was create to aid in the testing.  Several anomalies were found in the order in which ss_popdyn was calling get_growth2() and get_growth3().  Most of the problem was due to lack of calls to growth3 following up on growth2 and prior to calling Make_AgeLength_KeyKey().  This then int

[2021-04-08 17:05] Rick-Methot-NOAA opened #156 "[Question]: Code review for growth"
work on issue #155 exposed a few questionable code lines and possible discrepancies between the various approaches to growth.  A code review of get_growth2 and get_growth3 seems warranted.

[2021-04-08 18:24] k-doering-NOAA opened #157 "set up SS no estimation job on gh actions"
Also, we could consider if we want the running with no estimation job to run on github actions instead of on jenkins. The benefit of this is we could set it up to run automatically upon pushes to SS , which is not possible with the way the Jenkins server is set up (only can manually start or run on schedule).

_Originally posted by @k-doering-NOAA in https://github.com/nmfs-stock-synthesis/ss-test

[2021-04-09 15:38] k-doering-NOAA opened #158 "SPR/YPR report not written to report file even if hessian is inverted"
I noticed that in several models (running from current  main branch), The `
 SPR/YPR_Profile report:54`  item in the control file is not written, but instead the statement `This output only included after the Hessian is inverted`  is shown, despite the fact the hessian was estimated for these models. I think this statement may not be working properly (perhaps wrote_bigreport not getting updated to

[2021-04-09 16:03] k-doering-NOAA opened #159 "warn users if they request se for fixed quantities"
Related to https://github.com/nmfs-stock-synthesis/ss-test-models/issues/3

@Rick-Methot-NOAA realized it would be useful to warn users if they request standard error vals for quantities that are fixed. This matters because it sometimes can be the only reason for an non positive definite hessian.

[2021-04-09 16:34] Rick-Methot-NOAA commented on #158
The logic hoop jumps I went through to get things not to report twice is the source of this problem.  I'll take a look.

[2021-04-09 22:42] k-doering-NOAA commented on #157
This is in progress in the gh_actions_no_est branch.  So far, the environment has been set up, with a compiled version of SS, the model input/output files, and R available to use.

Next steps are to generalize or modify the code from jenkins so that it will run on gh actions. Another solution would be to just move everything around so it has the same relative path as on jenkins, but there are like

[2021-04-12 17:01] k-doering-NOAA commented on #154
There are still some small details to take care of with this issue:
1. Tot bio during model and forecast years in summary.sso are still matching the Smrybio in the report file rather than totbio... I wonder if just changing the column this line references to 1 would solve it? https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/main/SS_write.tpl#L521
SS_smry<<"TotBio_"<<y<<" "<<Smry_Table(

[2021-04-12 17:05] k-doering-NOAA commented on #155
I tested with a time varying growth model and  I see no difference at all between MEAN_BODY_WT(Begin) report:48 and MEAN_SIZE_TIMESERIES report:49 between 3.30.16 and the issue#154_smrybio branch or between the current main branch and issue#154_smrybio branch. Perhaps this is good, but it is confusing why this time varying growth discrepancy is not showing up? Unless the issue was observed as a re

[2021-04-12 17:29] Rick-Methot-NOAA commented on #155
I observed the issue while working on the fix for the smrybio branch.  Perhaps the problem was created and subsequently solved all while working within the smrybio branch.
My suggestion for a code review of growth module stands as it still seems to me that some configurations may still create anomalies especially as time-vary growth transitions from the young fish linear growth phase to the growth

[2021-04-12 22:43] Rick-Methot-NOAA commented on #154
My comparison between 30.16 and this new code version shows a very small (<1%) difference in the variance of spawnbiomass and recruitment for all forecast years.  No differences for earlier years.

[2021-04-12 23:10] Rick-Methot-NOAA commented on #154
I suspected that this code in forecast is responsible for this small change in variance:
      join1=1./(1.+mfexp(30.*(Fcast_Fmult-max_harvest_rate)));
      Fcast_Fmult=join1*Fcast_Fmult + (1.-join1)*max_harvest_rate; // new F value for this fleet, constrained by max_harvest_rate
      if(join1<0.999)
      {
      	report5<<"Forecast F capped by max possible F from control file"<<max_harvest_rat

[2021-04-13 15:49] k-doering-NOAA commented on #157
Merged finished job into main, so closing

[2021-04-13 15:49] #157 closed

[2021-04-13 23:12] Rick-Methot-NOAA commented on #154
Also find that the output for the "initial" year as reported in ss_summary was not the initial equilibrium because it was taken after the early recdevs were applied.  Verify that this is also now corrected.

[2021-04-15 23:21] Rick-Methot-NOAA commented on #158
A flag, SDmode, is created in readstarter and is 1 if Hessian is to be attempted, or 0 if -nohess is used.
This flag is now used to improve the logic of which reports to do at the end of the the run after sdreport is completed.

NOTE for future code improvement:
Global MSY and SPR/YPR profile currently are in write_report, but with some complicated logic
They could be moved into functions similar

[2021-04-16 16:51] k-doering-NOAA opened #163 "Use tool to style the SS codebase?"
For r4ss, @iantaylor-NOAA realized at some point that it would be nice for the package to have consistent syle to make the codebase easier to read (For more info, see https://github.com/r4ss/r4ss/issues/399). He was able to use a tool called styler to automatically style the whole codebase and commit the changes, instead of manually going through and trying to clean up style (which takes a massive

[2021-04-16 19:05] Rick-Methot-NOAA commented on #163
I think this worth a try.  the tpl code looks just like C##, so tool should work on it.

[2021-04-16 19:43] iantaylor-NOAA commented on #163
I think this is a good idea.

Here's a suggested sequence of events, based on doing something similar with r4ss. I'm sure there's recommended best practices for how to do this somewhere out there, but I haven't come across them.

1. - [ ] test the formatting tool on a single TPL and adjust the settings as needed until the results look good. The ClangFormat tool seems to support a large set of styl

[2021-04-16 21:28] k-doering-NOAA commented on #131
Ok, I switched the OS from Centos to Ubuntu to simplify this run, but now there are some different warnings popping up. These are the  types that I think are related to SS:
1. ss.cpp: In function ‘void create_timevary(dvector&, ivector&, ivector&, int&, const int&, const ivector&, const int&, const dvector&, int&, const double&)’:
ss.cpp:191:69: warning: unused parameter ‘parm_adjust_method’ [-Wun

[2021-04-16 21:30] Rick-Methot-NOAA commented on #163
There are a lot of settings in that style guide.  Most seem related to
indent and {} styles, so shold never break the code and only make it a bit
more readable.
A good start would be a consistent approach to {}; e.g.
if{
code;}
vs.
if
{
code;
}

or some other permutation, all of which can be seen somewhere in the SS
code.

*Richard D. Methot Jr. Ph.D.**NOAA Fisheries Senior Scientist** for Stock
A

[2021-04-16 21:33] Rick-Methot-NOAA commented on #131
Unless the list is a lot longer than this, let's keep them all so we are
constantly reminded.

Of these, I have looked at the unused parm_adjust_method and it is a benign
issue.

On Fri, Apr 16, 2021 at 2:28 PM Kathryn Doering ***@***.***>
wrote:

[2021-04-16 21:41] k-doering-NOAA commented on #131
These are the four types, although in total, it is 80 warnings, most of them like 2.

Ok, perhaps I will "keep" them and investigate more what the other ones are. I suspect 2. might actually be an admb issue that isn't that important, but I'm not totally sure.

I think I will set this job up so it "fails" if any additional errors (or types of errors) show up. Maybe we will see how that goes  and a

[2021-04-16 22:04] Rick-Methot-NOAA commented on #131
OK.  I will work on type #2.

working on SPR reporting now.

*Richard D. Methot Jr. Ph.D.**NOAA Fisheries Senior Scientist** for Stock
Assessments*

*Mobile: 301-787-0241*

On Fri, Apr 16, 2021 at 2:41 PM Kathryn Doering ***@***.***>
wrote:

[2021-04-16 22:28] k-doering-NOAA commented on #163
It is so easy to use all three ways of writing an if statement! It looks like you can choose a style guide to use for this function: https://clang.llvm.org/docs/ClangFormatStyleOptions.html#configurable-format-style-options so we don't have to specify our own custom options. Choosing custom options seems like too much effort to me when other people have already done the work to put together a cons

[2021-04-16 23:27] Rick-Methot-NOAA commented on #163
exactly.  no need for a custom approach here.  just pick one.
I'm not putting a high priority on this myself, but would be glad to see it
get a trial.  Ian's checklist was just right.

On Fri, Apr 16, 2021 at 3:28 PM Kathryn Doering ***@***.***>
wrote:

[2021-04-20 23:09] #131 closed

[2021-04-20 23:15] k-doering-NOAA commented on #90
closing this issue, as its primary purpose (implement a no est job) was finished long ago. The other job ideas have sat for a while and haven't been implemented.

[2021-04-20 23:15] #90 closed

[2021-04-21 21:05] k-doering-NOAA opened #165 "Implement bounded env_link for density-dependent parameters"
Thanks to @nathanvaughan-NOAA for discovering this. The bounded init link is [not implemented](https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/bd721572cb2ad8d452756145db4794400757788f/SS_timevaryparm.tpl#L347) for linking a parameter to a model-derived quantities. I just tried running a model with this option - simple but with [this selectivity line](https://github.com/nmfs-stock-synt

[2021-04-21 21:09] #158 closed

[2021-04-21 22:26] Rick-Methot-NOAA commented on #165
I took a look and it is not as easy as it would seem.
Time-vary links to env input data are all processed before the popdyn timeseries.
but density_dependence must be processed on a year-to-year basis.  But the needed parm_min and parm_max values are not available to easily be passed.
The information created in the switch() on line 24 of SS_timevaryparm.tpl needs to be made available to the FUNCTI

[2021-04-21 22:46] Rick-Methot-NOAA commented on #165
These are constants, so can be processed when timevary parms are created:
          baseparm_min=MGparm_LO(timevary_setup(2));
          baseparm_max=MGparm_HI(timevary_setup(2));

then they can be stored as additional elements in the array:  timevary_def[tvary](1,14);

this is done in the function create_timevary() in SS_global.tpl.
so would add baseparm min and max to the list below:
//  where t

[2021-04-21 23:25] k-doering-NOAA commented on #165
Ah, I see; it seems reasonable to just add a clear error message for now that this feature is not implemented.

[2021-04-27 01:01] Rick-Methot-NOAA commented on #40
There is a start on this capability in readcontrol330.tpl

First, this concept is defined:
//  when a parameter is defined and its label (hence usage) is created,
//  the value of its min, max, init, prior have not yet been read
//  so when it gets created, need to pushback a code to indicate what special conditions affect it
//  also may want to save indicator of whether the parameter is multipli

[2021-04-27 01:33] Rick-Methot-NOAA commented on #40
Then, later in readcontrol and in prelim, the parm initial values are checked against the input bounds.
So if the bounds are wrong by the user, the check is weak.
With this change, the min and max can also be checked using the codes read at the time that parm labels are assigned.

[2021-04-28 00:18] k-doering-NOAA commented on #143
@Rick-Methot-NOAA and @iantaylor-NOAA , I put together a first version of the maintainer's wiki page: https://github.com/nmfs-stock-synthesis/stock-synthesis/wiki/Stock-Synthesis:-practices-for-maintainers . I tried to document our practices for working as I understand them.

Could you take a look and either make changes yourself or let me know what else should be added?

[2021-04-28 17:49] k-doering-NOAA opened #167 "modify/remove warning for rec_dist option 4?"
This warning is fairly common in a lot of models:
[code]
I have heard a lot of users who are unclear if 1) this warning indicates a problem in their model (it doesn't) or 2) run into issues because the warning does not make it clear that the 3 parameter lines needed for recruitment option 2 aren't needed for option 4.

It would probably be helpful to either remove this warning altogether or adjust

[2021-04-28 18:06] iantaylor-NOAA commented on #143
Looks good to me. Thanks for putting this together.

One change I can think of is to add a step in the release checklist to remove the "resolved" label from any issues that were included in the release. And those issues should be closed at that time if they weren't already. There's more discussion of resolved issues at https://github.com/nmfs-stock-synthesis/stock-synthesis/issues/122 (maybe that

[2021-04-28 18:07] iantaylor-NOAA commented on #167
I like the use of this warning to nudge people toward simpler configurations that produce identical results. Without the warning very few people would make the change. But I agree that the longer warning would be better.

[2021-04-28 20:09] k-doering-NOAA commented on #143
@iantaylor-NOAA great ideas, I think those should be added! Feel free to add yourself, or let me know if you want me to do it. Thanks for the input!

[2021-04-28 20:13] k-doering-NOAA commented on #167
I think that is true, it is helpful to nudge folks toward the simpler configuration, but many people have asked me (when requesting help with an SS model) if this warning means the model is not set up correctly. I'm not sure how to communicate that it does not indicate a problem with the model within the warning message, but maybe giving the extra guidance on how to switch to recruitment distribut

[2021-04-28 20:24] iantaylor-NOAA commented on #167
How about making the warning something like `This model has just one settlement event. Changing to recr_dist_method 4 and removing the recruitment distribution parameters at the end of the MG parms section (below growth parameters) will produce identical results and simplify the model.`

[2021-04-28 20:26] Rick-Methot-NOAA commented on #167
I like it

On Wed, Apr 28, 2021 at 1:25 PM Ian Taylor ***@***.***> wrote:

[2021-04-28 20:31] k-doering-NOAA commented on #167
Yes, that is great!

[2021-04-28 20:34] iantaylor-NOAA commented on #143
I just made the two changes suggested in https://github.com/nmfs-stock-synthesis/stock-synthesis/issues/143#issuecomment-828666378. I also just learned that the history of changes for wiki pages on GitHub is accessed by clicking on the "[N] revisions" immediately below the title of the page.

My original hope in opening this issue has been more than satisfied by the new wiki page, but we should pr

[2021-04-28 20:39] #122 closed

[2021-04-28 21:24] Rick-Methot-NOAA commented on #143
Very good.  I made some edits and approve making this document available to the community

[2021-04-28 21:58] k-doering-NOAA commented on #143
Thanks, Rick!

[2021-04-28 21:58] #143 closed

[2021-04-29 15:07] #167 closed

[2021-04-29 15:32] Rick-Methot-NOAA commented on #102
Just realized another fringe case to deal with.  If growth or maturity is time-varying and Maunder's M links to maturity, then the time-varying flag for M needs to be turned on.  The way to do this is when the timevary flags are created.
I will deal with this after the merge as a tune-up to the new M code

[2021-04-29 16:11] k-doering-NOAA commented on #102
@Rick-Methot-NOAA , good catch. could an error msg with informative msg be provided for the fringe case in the meantime? Hopefully this could be quickly added until there is time available to work on the fringe case.

[2021-04-29 16:27] Rick-Methot-NOAA commented on #102
Not yet.  We really need to lean on Mark and his team to document and
test.  This is a Beta feature at best right now.

On Thu, Apr 29, 2021 at 9:12 AM Kathryn Doering ***@***.***>
wrote:

[2021-04-29 22:06] Rick-Methot-NOAA commented on #115
related to #156

[2021-04-30 16:58] k-doering-NOAA commented on #89
Tagging @Henning-Winker for awareness, although this thread may be a bit hard to follow (and this suggestion was from a while back)!

Henning, I will try to test this out and provide a summary of how this option can be implemented; feel free to test out before then or wait until after I test (current test version of SS is available [as a github artifact](https://github.com/nmfs-stock-synthesis/sto

[2021-04-30 17:01] k-doering-NOAA commented on #75
@Rick-Methot-NOAA can you provide details on how to use this option and what to look for? Happy to test but I can't really follow how to via this thread alone.

[2021-04-30 17:29] iantaylor-NOAA commented on #75
@k-doering-NOAA there is some documentation of how to turn on this option in https://github.com/nmfs-stock-synthesis/ss-documentation/issues/31. But would be good to check that it works as described there.

[2021-04-30 17:34] Rick-Methot-NOAA commented on #75
I think the test can be rather simple.  Just set up a run to produce the variance of dynamic bzero.  Then compare the time series of Bzero's variance to the time series of SSB's  variance.  Once that comparison is available for the hake model, then Ian, Kelli and Rick can quickly comment on its reasonableness.

[2021-04-30 18:32] Rick-Methot-NOAA commented on #75
Stand down.  I just found some testing I did that involved both the recdev method and the dynamic bzero.  Let me summarize that and get back to the team.

[2021-04-30 18:42] Rick-Methot-NOAA commented on #75
Here is the spreadsheet in which I summarized the results comparing the four rec_dev methods and including effect on dynamic Bzero.  There are some good comments in the text boxes on the sheet: recr_dev_method.  Alas, I cannot find the files used to produce this summary, but I presume it was "simple" and would be easy to re-create.

[dynamic_Bzero_variance.xlsx](https://github.com/nmfs-stock-synth

[2021-04-30 18:57] Rick-Methot-NOAA commented on #75
I also think this material will be helpful for the recruitment webinar I want to prepare. So I think I will create a new issue in which we can track topics to include in that webinar; including the MCMC problem with the recdev approach no. 1

[2021-04-30 19:01] k-doering-NOAA commented on #75
Thanks, @iantaylor-NOAA and @Rick-Methot-NOAA , all this info is really helpful!

[2021-04-30 21:14] iantaylor-NOAA opened #168 "add option to include summary biomass time series in DERIVED_QUANTITIES"
As noted in https://github.com/r4ss/r4ss/issues/524, summary biomass is a useful metric for many models as an approximation for available biomass and a common framework to compare models that have different maturity or fecundity relationships (as is sometimes then case when comparing new vs old assessments of the same stock).

@IJStewart pointed out that such comparisons would be even more useful

[2021-04-30 23:19] iantaylor-NOAA opened #169 "missing SE_input value for indices with normal error"
Thanks to @mkapur for reporting an r4ss issue https://github.com/r4ss/r4ss/issues/324 which I tracked back to a missing column in the index output. This one is 100% my fault because I created this issue https://vlab.ncep.noaa.gov/redmine/issues/73827 (visible only to SS developers) in January 2020 suggesting separate SE and SE_input columns for the index output to help track the effect of any esti

[2021-05-03 17:08] k-doering-NOAA opened #170 "run fast models on github actions instead of jenkins?"
The run-no-est job is proving helpful, because it runs automatically through github actions and provides feedback on the job status (green checkmark if it passed, red x if it did not). We have been relying on jenkins to run the testing models with estimation. This is helpful because running the entire model set takes ~ 9 hrs, and there is a 6 hr limit on a github actions job. However, the disadvan

[2021-05-03 17:08] Rick-Methot-NOAA commented on #168
Thanks Ian for queueing this up neatly.
Since there probably are very few users who are using  Do_More_Std==2, I support inplementing this as a modification of that option that will now require input for   Do_SmryBio_se=More_Std_Input(13) immediately after the current input for Bzero.  After that, the code for implementing this will largely be the same as what was done for Bzero.

[2021-05-03 17:44] Rick-Methot-NOAA commented on #170
I like your logic here and appreciate the list of model run times.  I support creating a github auto-run for these fast models

[2021-05-03 19:41] Rick-Methot-NOAA opened #171 "fix after merge with natmort_again"
One issue detected with growth_morphs is that only the main morph was getting fecundity-at-age assigned.  Should be easy fix.

Other issue is a subtle change in calculations leading  to SSB_unfished is causing a difference in variance of that quantity and consequently, variance in forecast quantities.

creating new branch:  fix_main

[2021-05-03 22:06] Rick-Methot-NOAA commented on #171
Fix the growth_morph issue.
Problem was in the indexing.  Previously the wt_len fxn looped only Gpat, then Make_Fecundity looped g and found the associated Gpat.
With platoon usage, there are several platoons per Gpat.
So when get_mat_fec  was created from the previous arrangement of functions, it used the wt_len loop approach, which only processes the middle g for each Gpat.  So, several g's were

[2021-05-03 23:02] Rick-Methot-NOAA commented on #171
The above fix eliminates the difference for the growth_morph model.

For big_skate, the only thing unique about this model is that it uses growth option 8.
@k-doering-NOAA here is a suggested, long-shot approach to next line of investigation:
1  run .16 and get par file, -nohess
2.  run current code and get par fil , -nohess
3. verify that they are the same
4. set all the growth parameters to be f

[2021-05-04 00:34] Rick-Methot-NOAA commented on #171
for big_skate, I see some differences in the numbers_at_length table that I will investigate.  They are for the middle (M) of the first year (1916).  Suspect that the relevant ALK is not getting updated properly.  The total numbers across all sizes are correct, but they are in shifted bins for that one year.

[2021-05-04 20:29] Rick-Methot-NOAA commented on #171
I found and fixed the indexing issue causing the numbers-at-length output problem.  Alas, it did not fix the main variance issue with big skate.  I will now switch it to a different growth curve to see if that resolves the variance issue.  What else could be unique about this model setup?????

[2021-05-04 20:43] iantaylor-NOAA commented on #171
In case it helps, here's the Big Skate model with Von Bertalanffy growth:
[BigSkate2019_VBgrowth.zip](https://github.com/nmfs-stock-synthesis/stock-synthesis/files/6423787/BigSkate2019_VBgrowth.zip)

If a variance issue remains, I might try removing the mean length at age data, which has lambda = 0 so SHOULD have zero influence, but I remember Vlada saying that she thought there was some impact wh

[2021-05-04 20:46] k-doering-NOAA commented on #171
I see the Parm_softbounds likelihood component also changed very slightly, is there any way this could affect variance estimates?

The features mentioned on the model readme are `Uses F method 3 (hybrid), Cessation growth model, Catchability time blocks, catchability priors, discard data.`

I don't know if this is useful or not, but here are some recent changes to the main branch (since teh Merge

[2021-05-04 21:03] k-doering-NOAA commented on #171
Also, there were small changes in the forecast catch se for growth_timevary and Hake_2019_semi-parametric_selex. Just so small that they were below the tolerance that we have set to flag the values as "changed" (and when rounding quantities to 3 digits, it is not apparent).

quantity | value | ref_value | diff | perc_change | ratio | mod_name
-- | -- | -- | -- | -- | -- | --
ForeCatch_2012_se | 8.

[2021-05-04 21:13] Rick-Methot-NOAA commented on #171
Switching to different growth curve for big skate did not solve issue.
I just compared for simple.  Shows the same pattern:  small difference in se for SSB_unfished, which then causes small differences in variance for the forecast quantities.
I know where to look in the code now.

[2021-05-04 22:22] k-doering-NOAA commented on #163
I added the "wait" label, since there is a lot of shuffling of code lately in order to get an SS release version. I think we can explore this shortly after the release, since development is likely to lull around that time.

[2021-05-04 23:50] Rick-Methot-NOAA commented on #171
Took ALL day, but I found the culprit on the variance issue.  Not exactly, but I narrowed it down to the replacement of make_fecundity with get_mat_fec in popdyn.

[2021-05-05 20:25] #170 closed

[2021-05-05 20:26] #142 closed

[2021-05-05 21:23] iantaylor-NOAA commented on #168
I realized that unlike other time series quantities that are included in DERIVED_QUANTITIES, Summary Biomass is calculated in each season for a multi-season model. I'm guessing that it would be just fine to provide those values only from Season 1.

[2021-05-05 23:38] Rick-Methot-NOAA commented on #168
I have completed this augmentation.
A question - location in the output.
Option A (implemented):
remove the old SmryBio output that was located in the Biology section at end of ss_summary
insert new SmryBio section, with se, right after the ln(SSB) output and before the other extra_std quantities.  This was easy because all are components of the extra_std vector.  Note that the change in order wil

[2021-05-06 00:14] Rick-Methot-NOAA commented on #168
While working on this, I noted that the values of SmryBio and TotBio in forecast years kept increasing.  Turns out that the accumulator code in SS_benchfore was not working properly.
Fixed this and ran a compare of these quantities as reported in ss_summary.sso, to the independently calculated quantities in TimeSeries of report.sso.  They match.  Case closed.

[2021-05-06 00:37] Rick-Methot-NOAA commented on #168
control.ss_new now looks like:
2 # (0/1/2) read specs for more stddev reporting: 0 = skip, 1 = read specs for reporting stdev for selectivity, size, and numbers, 2 = add options for M and Dyn Bzero
 1 1 -1 5 # Selectivity: (1) 0 to skip or fleet, (2) 1=len/2=age/3=combined, (3) year, (4) N selex bins; NOTE: combined reports in age bins
 1 5 # Growth: (1) 0 to skip or growth pattern, (2) growth age

[2021-05-06 15:33] iantaylor-NOAA commented on #168
The way you've implemented it seems just fine to me.
Is the only change in Report.sso is the addition of the SmryBio rows after ln(SSB) in DERIVED_QUANTITES?

I would change the first line in control.ss_new from
`2 = add options for M and Dyn Bzero`
to
`2 = add options for M, Dyn Bzero, and SmryBio`.

Here are a few more things to do before closing this issue (if there are no other concerns about

[2021-05-06 16:00] Rick-Methot-NOAA commented on #168
The option 2 to add Dyn Recr simply appends the time series of Recruitment
after the time series of SSB in the dynamic Bzero section.

On Thu, May 6, 2021 at 8:33 AM Ian Taylor ***@***.***> wrote:

[2021-05-06 16:53] k-doering-NOAA commented on #89
@Rick-Methot-NOAA I just tried this with simple, but changing the line
[code]
in the starter file to:
[code]
(I left this line in the starter, which maybe I need to change?)
[code]

I'm not sure this is working properly, as the output I see in echo input looks a little different:
[code]

Here is how the labels look in ss_summary.sso:
[code]

[code]

[2021-05-06 20:52] k-doering-NOAA commented on #89
Ok, I ran a better comparison, where Bratio and Fratio were calculated on the nominal scale in 1 model, then on the log scale in the other. To reproduce this model, just change 2 lines in the starter file of simple; on the left is the log scale file, on the right is the nominal scale starter file
![2 files each with 2 lines of text highlighted, where 102 are the inuts for the log scale Bratio and

[2021-05-06 20:59] k-doering-NOAA commented on #75
@Rick-Methot-NOAA did you still want testing on hake from @kellijohnson-NOAA and me? Or is the recdevs/Bzero testing sufficient?

[2021-05-06 21:00] Rick-Methot-NOAA commented on #89
The code is really, really simple:
after calculating F_std in which it is divided by the reference point to
get a ratio,

  if(F_std_log==1) F_std = log(F_std);

On Thu, May 6, 2021 at 1:52 PM Kathryn Doering ***@***.***>
wrote:

[2021-05-06 21:36] k-doering-NOAA commented on #89
That makes sense to me! Why don't these numbers line up then (or maybe I am miscalculating?)
Nominal scale:
#_F Basis= (F)/(Fmsy);_with_F=sum(full_Fs)
F_1972 0.0200349 0.00357247

Log scale:
#_F Basis= ;_with_F=sum(full_Fs);log
F_1972 -6.16068 0.0409965

log(0.0200) = -3.912023
Maybe I am missing a correction factor?

[2021-05-06 21:40] kellijohnson-NOAA commented on #75
@k-doering-NOAA have you started adding this to r4ss yet or should I start a new branch?

[2021-05-06 21:47] k-doering-NOAA opened #174 "testing SS with data from an operating model?"
Thanks to Bai Li and Matthew Supernaw who are setting up tests of MAS using data from an operating model.

We could experiment with testing SS with data set(s) from an operating model. In this case, we would know what the true values are supposed to be, so could check that SS is getting reasonable results for all the values.

The positive aspect is that if the operating model is not based on SS, w

[2021-05-06 21:48] k-doering-NOAA commented on #75
@kellijohnson-NOAA , no I haven't, so feel free to start a new branch!

[2021-05-06 21:59] Rick-Methot-NOAA commented on #174
I see some merit in having such a data set in our testing repertoire, but it would be a very simple test (no lengths or any of the SS bells & whistles).  Also, Bai's model comparison project ended up finding a difference between SS formulation and BAM's formulation.  Neither was wrong, but some transformation was needed to correctly compare.  I think I see more merit in using ss3sim to generate so

[2021-05-06 22:24] k-doering-NOAA commented on #174
Yes, the ss3sim way is another approach that could be helpful; the issue there is because it is dependent on SS, if the bug is in the operating model it will also be in the estimation model. But we would have the flexibility to easily generate complex setups.

[2021-05-06 22:41] Rick-Methot-NOAA commented on #89
something strange.  I'll investigate and report back to you

On Thu, May 6, 2021 at 2:36 PM Kathryn Doering ***@***.***>
wrote:

[2021-05-06 23:08] Rick-Methot-NOAA commented on #89
got it.

read value of 102 was not getting transformed to 2, so the switch statement
was not working right.  thanks for finding this problem

On Thu, May 6, 2021 at 3:40 PM Richard Methot - NOAA Federal <
***@***.***> wrote:

[2021-05-06 23:19] kellijohnson-NOAA commented on #75
Recreated Rick's excel figure of Dynamic B_0 for the simple model using all four do_recdev types. Next, I will compare variability of dynamic B_0 to SSB as @Rick-Methot-NOAA suggested above. Additionally, I think for my understanding it would be a useful exercise to decrease catches to very small values and see if the Dynamic B_0 matches SSB. I am also open to other ideas. Then, I will look at hak

[2021-05-07 16:08] k-doering-NOAA commented on #89
Good find! I wondered if that was the case with what the print statements in echoinput were saying.

Let me know when a fix has been pushed and I can test out again.

[2021-05-07 20:41] Rick-Methot-NOAA commented on #89
Fixed.  Revised code is in same branch that is adding se(smrybio).
Echoinput was displaying the problem as the input was parsed; I forgot to look there first.
Now echoinput shows:
182  depletion_basis as read; this is also known as Bratio and is a std quantity; has multi-yr and log(ratio) options
Parse into: depletion_log(ratio): 1 depletion_multi-yr: 8 depletion_basis: 2
 ........
132  F_std basi

[2021-05-10 21:55] #171 closed

[2021-05-10 22:09] Rick-Methot-NOAA opened #176 "code clean-up and documentation"
create working branch "cleanup_and_document_code_filelist"

work on editing and updating SS_filelist.txt
I will convert filelist to a markdown file before proceeding much further.
This file is a very high level overview, so not nearly as detailed as the SS_codeflow that Neal is working on.

Also will remove some code deadwood and add more SS_label entries in code as I proceed.

[2021-05-10 22:18] k-doering-NOAA commented on #176
Good idea, Rick! Markdown is much more readable.

Just in case it is useful, I often refer to this [github markdown cheatsheet](https://guides.github.com/features/mastering-markdown/#syntax) as a reminder of the formatting options.

Another tip is you can edit files directly on github and therefore have an easy preview of how the markdown looks if the file ends in .md - the downside is only 1 file

[2021-05-11 17:52] k-doering-NOAA opened #177 "Prepare for 3.30.17 release"
This issue is to help the SS development team to track preparation for the 3.30.17 release. Hopefully this also provides transparency to users following the repository.

SS dev team, please feel free check off items or edit this list.

- [x] RM: inform the team when we have a preliminary release version (by posting on this issue?)
- [x] Put together release notes (KD and RM) - [Draft](https://docs

[2021-05-12 15:11] k-doering-NOAA commented on #176
It seems like a great idea to improve documentation as code is reviewed!

It just occured to me that we could potentially use an already existing documentation system, like [doxygen](https://www.doxygen.nl/index.html), as we are essentially creating our own system at this point! For example, the [admb documentation](http://api.admb-project.org/index.html) is using doxygen.  It works pretty similar

[2021-05-12 15:20] Rick-Methot-NOAA commented on #176
Definitely worth checking into doxygen.  I've known about it with ADMB but
had not considered trying it for SS because the SS code is "messy".
Neal/Kathryn - can one of you look into the feasibility of doxygen working
with the current SS_Label system?

Rick

On Wed, May 12, 2021 at 8:12 AM Kathryn Doering ***@***.***>
wrote:

[2021-05-12 15:32] k-doering-NOAA commented on #176
I think we would have change to doxygen's way of doing things (I'm guessing this based on my experience with Roxygen, where you have to use specific tags to create the documentation, like `@param` to document a parameter), and I'm not sure if the use of globals would cause issues for the documentation system or not - my guess is "no". We might be able to leave in the SS_Label system, though, and a

[2021-05-12 16:17] nschindler-noaa commented on #176
I have used doxygen before and like it. It can produce web pages as well as
a text document. You only have to document what you want. I'm not sure how
program flow would work with it, though. I need to review how to use it.
Seems like Roxygen is similar but has different syntax.

On Wed, May 12, 2021 at 8:32 AM Kathryn Doering ***@***.***>
wrote:

--

Neal Schindler

Programmer Analyst, Caelum

NW

[2021-05-12 16:45] Rick-Methot-NOAA commented on #176
Thanks Neal.  Please look into this.  Hopefully the first step is as simple
as global search and replace for SS_Label with <doxygen code>

On Wed, May 12, 2021 at 9:18 AM Neal Schindler ***@***.***>
wrote:

[2021-05-13 16:10] akatan999 opened #179 "More control for recr_dist in forecast"
In the newest (test) version of SS, it is possible to use the random walk (option 23) to model recruitment distribution in a multi-area model and at the same time control the value of the recruitment distribution that is assumed for the forecast period. However, this combination only work when using average recruitment in the forecast period but it does not work if using the SR to determine recrui

[2021-05-13 21:39] Rick-Methot-NOAA commented on #177
I am ready to proceed to launch with no additional developments.  I do not see anything in the issues that need to be in .17.  So this is last call if you want something in there.
Note that I already created a 3.30.18 milestone with Sept 30 target date and I have started assigning issues to it.
First up for me is to update the change log spreadsheet so we have a concise list of what is new.
Then c

[2021-05-13 22:06] k-doering-NOAA commented on #177
Great, Rick! When you put together the change log, could you also remove any issues from 3.30.17 that weren't worked and either move them to 3.30.18 or just remove them?

I added a link to draft release notes above. Also started a Jenkins run on main branch for good measure. @iantaylor-NOAA and @Rick-Methot-NOAA , do you see any extra testing needed beyond that? I think I am comfortable if Jenkins

[2021-05-13 23:48] iantaylor-NOAA commented on #87
I tried to test this using the attached model files: [platoons.zip](https://github.com/nmfs-stock-synthesis/stock-synthesis/files/6475546/platoons.zip) and the ss.exe artifact from [the most recent build-win github action](https://github.com/nmfs-stock-synthesis/stock-synthesis/actions/runs/839628487) and "nan" values appear during the estimation that were not present when these same files were ru

[2021-05-13 23:49] iantaylor-NOAA commented on #177
The one other thing on my radar for testing was issue #87, which I just checked but could use some help on from @Rick-Methot-NOAA.

[2021-05-14 15:19] k-doering-NOAA commented on #177
Jenkins run on main branch was all good. I think once #87 is sorted out, that should be enough testing!

[2021-05-17 23:53] nschindler-noaa commented on #176
There is a problem using doxygen with ADMB produced code: the comments tend
to be inside functions which are ignored by doxygen. I tried several ideas
(different formatting, different positions), using SS_ALK.tpl to test, and
have had no success. So, we are left trying to document the tpl code.
I haven't had much success there, either (don't know why). Trying to find a
format that will work with d

[2021-05-18 15:29] k-doering-NOAA commented on #176
Thanks for looking into this, Neal - that is a shame to hear! Hmm,  I wonder if using the EXTENSION_MAPPING configuration argument to map .tpl files to C++ (or some other C like lang) would work to allow docs to be created from the tpl files? Here's a page on configuration: https://www.doxygen.nl/manual/config.html#config_project

[2021-05-18 15:33] Rick-Methot-NOAA commented on #176
I wrote to Johnoel to see if he has advice.
Another possibility is to stop editing at the tpl level and instead switch
to development in the ss.cpp and ss.htp files

On Tue, May 18, 2021 at 8:30 AM Kathryn Doering ***@***.***>
wrote:

[2021-05-18 22:47] k-doering-NOAA commented on #87
@iantaylor-NOAA , just wanted to check in - anything else needed on this one?

[2021-05-18 22:53] iantaylor-NOAA commented on #87
Seems like we're all sorted. Thanks for the reminder.

[2021-05-18 22:53] #87 closed

[2021-05-18 23:42] k-doering-NOAA commented on #177
@Rick-Methot-NOAA , I saw you made additions to the change log! Would you like me to also take a look?

Also, our release notes are close to ready, just need to add info about the change log and links. When you have the chance, feel free to take a look. https://docs.google.com/document/d/17l2PmVHxKe1D-Tk-muTWb7ypPH_BBGdw-jJ6-fiTIlQ/edit?usp=sharing

Do you think we are set on the release version?

[2021-05-19 02:54] Rick-Methot-NOAA commented on #177
Please do look over the change log.  I almost forgot to include the closed
issues.  I did leave a few out that seemed too minor to warrant bloating
the list.

I will look at the release message, but maybe not until Friday.

I am waffling on the webinar as there are no augmentations really needing
explanation.  Seems easier to just give them good coverage in release notes.

On Tue, May 18, 2021 at

[2021-05-19 16:29] k-doering-NOAA commented on #177
Hi Rick, I looked over the change log and made a few minor changes. Thanks for putting it together! I also added the list of changes to the release notes.

Note also that vlab will be down later today (I think starting 5 pm eastern) and probably on Friday as they switch to the cloud. So we won't be able to upload items to vlab ahead of the release until next week, I think.

[2021-05-19 16:30] #57 closed

[2021-05-19 16:30] #71 closed, assigned to Rick-Methot-NOAA

[2021-05-19 16:30] #84 closed, assigned to Rick-Methot-NOAA

[2021-05-19 16:30] #89 closed, assigned to Rick-Methot-NOAA, k-doering-NOAA

[2021-05-19 16:30] #94 closed

[2021-05-19 16:30] #96 closed, assigned to Rick-Methot-NOAA

[2021-05-19 16:30] #101 closed

[2021-05-19 16:30] #102 closed

[2021-05-19 16:30] #110 closed

[2021-05-19 16:30] #113 closed

[2021-05-19 16:30] #129 closed, assigned to Rick-Methot-NOAA

[2021-05-19 16:30] #130 closed

[2021-05-19 16:30] #134 closed

[2021-05-19 16:30] #138 closed

[2021-05-19 16:30] #147 closed

[2021-05-19 16:30] #153 closed

[2021-05-19 16:30] #154 closed

[2021-05-19 16:30] #155 closed

[2021-05-19 16:30] #169 closed

[2021-05-21 15:43] k-doering-NOAA commented on #168
This creates a breaking change for anyone who was using option 2 just for natural mortality inputs in previous versions of SS. We may want to note this in the change log and perhaps a warning in r4ss.

[2021-05-21 15:47] Rick-Methot-NOAA commented on #168
I don't understand how this interacts with natural mortality.  Does this
seem fixable easily?

On Fri, May 21, 2021 at 8:43 AM Kathryn Doering ***@***.***>
wrote:

[2021-05-21 16:04] k-doering-NOAA commented on #168
I think in 3.30.16 (and 15?), option 2 inputs looked like:
[code]

In 3.30.17 with the new dynamic b0 and smry biomass options, more inputs are needed (2 extra values at the bottom)
[code]

I think this means that 3.30.16 models that used variance of M options previously would no longer work with 3.30.17, because they are missing 2 values.

I suspect there are not too many models like this, so may

[2021-05-21 16:07] Rick-Methot-NOAA commented on #168
The M options are still there in 3.30.17, but now they are followed by the
Dyn Bzero options

On Fri, May 21, 2021 at 9:05 AM Kathryn Doering ***@***.***>
wrote:

[2021-05-21 16:19] k-doering-NOAA commented on #168
Yes, but that means an older model that has used the M options won't have the Dyn Bzero/ Summary biomass options inputs (because they weren't expected inputs at the time) and won't be parsed correctly when reading into SS (I assume this model would error with 3.30.17).

There's nothing internally wrong with the implementation in SS, but we just need to decide if we are OK with this being  a breaki

[2021-05-21 16:27] k-doering-NOAA commented on #168
sounds good, Rick. I am making a note in the documentation now.

[2021-05-21 17:30] k-doering-NOAA commented on #151
Will need to edit the documentation in the manual on how to transition from 3.24 to 3.30 after phasing out the translation exe.

[2021-05-21 17:37] #168 closed

[2021-06-02 20:59] Rick-Methot-NOAA opened #180 "Extra_stderr not implemented for combined age-length selectivity"
The code for generating the stderr of selectivity is not working if option 3 (combined length-age) is selected.

For now, a warning and exit has been inserted in the code if this option is selected.

Thanks @puntae for finding this

[2021-06-08 00:10] Rick-Methot-NOAA opened #181 "Lorenzen M not incrementing by season"
A test of Lorenzen M with seasons showed that it was using the same length-at-age for each season, so produced the same M for each season.  This needs attention.  Should create a new M option that is Lorenzen M with seasons to maintain backward compatibility.

[2021-06-08 22:51] Rick-Methot-NOAA commented on #100
The manual update had failed to create the average retain_a and discmort_a used by benchmark.  Add this code today to main branch.  Testing done using Irish cod example provided by M. Cardinale

[2021-06-08 22:51] #100 closed

[2021-06-10 21:43] k-doering-NOAA commented on #177
SS team, we are planning on releasing 3.30.17 tomorrow (June 11), if we don't find any last minute issues.

I am working on putting together many of the steps to release now.

[2021-06-11 17:37] Rick-Methot-NOAA opened #182 "new control rule option linked to Bmsy"
request from Michael Schirippa for something like this:

In the list of derived quantities from every model run is this:
[code]

So, take that number and put in here in your next model run:
[code]

I can try to create a new HCR option that does this for you

[2021-06-11 20:14] k-doering-NOAA commented on #177
3.30.17 has now been released, so closing. For more info, please see the [release notes](https://vlab.noaa.gov/web/stock-synthesis/public-forums/-/message_boards/view_message/15698143).

[2021-06-11 20:22] #177 closed

[2021-06-14 14:17] skylersagarese-NOAA opened #183 "Numbering of D-M parameters when both length and age composition input (exceeds Nfleet)"
Issue #152 implemented an error if the number of D-M exceeds the number of fleets, but if both length and age composition are included for fleets, the number of D-M can exceed Nfleet according to Page 56 in the manual:

![image](https://user-images.githubusercontent.com/65174446/121906524-30a56200-ccf9-11eb-920b-65b96ca66c1d.png)

For our Gulf models (scamp grouper example below), which often inco

[2021-06-14 14:59] chantelwetzel-noaa commented on #152
I think the trap created to check for sequential numbering has led to the issue reported by @skylersagarese-NOAA.  The DM parameter number can and often does exceed the fleet number is length and age data are both in the model.  It looks like the model stops if this issue is identified

https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/56036dde7cafc96ac83dc066d3bd4fdb8d73733a/SS_readdat

[2021-06-14 15:14] Rick-Methot-NOAA commented on #183
This will take a careful investigation.  Looks like the indexing of D-M parameters is being too closely linked to Nfleets.

[2021-06-14 22:56] Rick-Methot-NOAA commented on #183
Working now for hake and scampi
Also changed the parameter label to a more informative:  ln(DM_theta)_Age_P7(2)

code now detects and exits if a parameter number is skipped

[2021-06-14 23:51] Rick-Methot-NOAA commented on #183
@k-doering-NOAA  can you check to see if the revised parameter labels work OK with r4ss.  Note that I put the fleet at the end of the label in ().  This is same as for selectivity parameters.  If that is OK, then I think we can pull this into main.  Note that I updated version to 3.30.17.01.
Overall, I think the logic for this indexing and labeling approach is now much stronger

Rick

[2021-06-15 15:02] k-doering-NOAA commented on #183
Rick, I will check on the param labels shortly.

@skylersagarese-NOAA, would you mind [testing this version of SS](https://github.com/nmfs-stock-synthesis/stock-synthesis/suites/2993776607/artifacts/67640084) with your model?

[2021-06-15 15:12] skylersagarese-NOAA commented on #183
Worked perfectly! Thank you!

Sky

[2021-06-15 17:08] k-doering-NOAA commented on #183
thanks @skylersagarese-NOAA !

@Rick-Methot-NOAA , about the labels, I think they shouldn't have a fleet specific label since the parameters can be shared amongst multiple fleets - when I ran a model with a shared parameter, it just showed the first fleet value, which may be confusing.

A side note,I think using the "_" or "-" separator rather than "(" is better with R because "(" is often used in

[2021-06-15 17:26] iantaylor-NOAA commented on #183
When looking at the Pull Request (https://github.com/nmfs-stock-synthesis/stock-synthesis/pull/184#pullrequestreview-683231210), I didn't think about the problem @k-doering-NOAA noted of fleet numbers in the labels when parameters are shared among fleets case.
Maybe a better solution is to add the design matrix of D-M parameter assignments to fleets as a new table in Report.sso, but perhaps that s

[2021-06-15 17:49] Rick-Methot-NOAA commented on #183
I am totally agnostic about implementation of the parameter labels; just
want them to be informative.

I will use a "_" for fleet in the D-M parameters.  QUESTION:  I can easily
change the selectivity parameters to be the same, but await advice from R
gurus.

Ian - good suggestion regarding the table and I was worried about that
issue also.   Such a design matrix does appear in echoinput, but hard

[2021-06-15 18:03] kellijohnson-NOAA commented on #183
Couldn't you use a delimiter and just paste the fleets together if there are multiple? e.g., ln(DM_theta)_Age_P7(2-3-4)
For what it is worth, I like the correct mathematical notation of ln(DM_theta) because it helps the visually impaired when a screen reader is reading the output. I think there are ways in tidyverse to accommodate the parenthesis, at least you can with backticks but I think there

[2021-06-15 18:03] kellijohnson-NOAA commented on #183
Sorry, I should have put e.g., e.g., ln(DM_theta)_Age_P7_2-3-4

[2021-06-15 18:10] Rick-Methot-NOAA commented on #183
ln(DM_theta)_Age_P7_2-3-4 is possible, but a good bit of additional code to
save info on more than just the first referenced fleet

On Tue, Jun 15, 2021 at 11:04 AM Kelli Johnson ***@***.***>
wrote:

[2021-06-15 18:16] iantaylor-NOAA commented on #183
I like @kellijohnson-NOAA's proposed labels, but given the extra coding required, that changes seems to go beyond the immediate need for a 3.30.17.01 bug fix, so how about just leaving off the fleet number from the parameter labels and reported issue and then circling back to refine the labels and/or report the parameter design matrix at a later time.

[2021-06-15 18:30] Rick-Methot-NOAA commented on #183
concur with Ian's suggestion.  Will implement accordingly and pull into
main.

On Tue, Jun 15, 2021 at 11:17 AM Ian Taylor ***@***.***>
wrote:

[2021-06-15 18:54] k-doering-NOAA commented on #183
Sounds good, I like the suggestion to consider this at a different time.

@Rick-Methot-NOAA I suggest not changing the selectivity; like Kelli said, there are ways to deal with it, and status quo is fine.

[2021-06-15 19:26] k-doering-NOAA opened #185 "consider new informative names for DM parameters"
See more comments in #183 . Here is one suggestion:

Couldn't you use a delimiter and just paste the fleets together if there are multiple? e.g., ln(DM_theta)_Age_P7(2-3-4)
For what it is worth, I like the correct mathematical notation of ln(DM_theta) because it helps the visually impaired when a screen reader is reading the output. I think there are ways in tidyverse to accommodate the parenthesi

[2021-06-16 15:48] k-doering-NOAA commented on #183
@Rick-Methot-NOAA , should this be released as a fix? I can tag the repo (making sure it is labeled 3.30.17.01), and then upload all the executables to vlab if so.

[2021-06-16 16:11] Rick-Methot-NOAA commented on #183
Yes.  Please do post as a fix.

On Wed, Jun 16, 2021 at 8:48 AM Kathryn Doering ***@***.***>
wrote:

[2021-06-16 18:18] k-doering-NOAA commented on #183
The [3.30.17.01 exes](https://vlab.noaa.gov/web/stock-synthesis/document-library/-/document_library/0LmuycloZeIt/view/6427430) are now available, so closing this issue.

[2021-06-16 18:18] #183 closed

[2021-06-16 18:25] k-doering-NOAA commented on #151
@Rick-Methot-NOAA, I added you as an assignee. I wasn't sure if there was additional code besides the read*3.24.tpl files, so just wanted to check if there was other code to delete?

[2021-06-16 22:14] Rick-Methot-NOAA commented on #151
The only other code is the make file, but there seems little overhead associated with keeping these files in the repo.  So let us not delete for now.  Just stop testing them with each update of 3.30.

[2021-06-17 15:21] k-doering-NOAA commented on #151
I think we should delete them, as they will still remain in git. We can easily get back to the 3.30.17 tag to see the files. While I agree there is little overhead, if we aren't using the files, they cause some clutter, making it harder to find the essential code.

[2021-06-17 15:23] Rick-Methot-NOAA commented on #151
OK.  We also have them in the google folder

On Thu, Jun 17, 2021 at 8:21 AM Kathryn Doering ***@***.***>
wrote:

[2021-06-17 16:14] k-doering-NOAA commented on #151
Closing (after labeling resolved and with the 3.30.18 milestone), as this is finished. Ended up just removing the portions or entire build scripts with trans, as a warning felt unnecessary (given very few people compile the trans exe)

[2021-06-17 16:14] #151 closed

[2021-06-18 16:04] k-doering-NOAA commented on #152
Thanks @chantelwetzel-noaa , you were spot on! Now fixed in #184 .

[2021-06-18 16:04] #152 closed

[2021-06-18 16:09] k-doering-NOAA commented on #66
Tasks for this issue:
- [ ] Make DM likelihood available for generalized size frequency data
- [ ] Included DM likelihood in bootstrapping for generalized size frequency data (from #52)

[2021-06-18 16:09] k-doering-NOAA commented on #52
Closing, as added remaining task to #66

[2021-06-18 16:09] #52 closed

[2021-06-18 16:10] #105 closed

[2021-06-18 16:21] #97 closed

[2021-06-18 19:26] iantaylor-NOAA opened #186 "trap for duplicate index observations"
As discussed in https://github.com/iantaylor-NOAA/Lingcod_2021/issues/59#issuecomment-864229746, the SS model files in [lingcod_model_with_error.zip](https://github.com/nmfs-stock-synthesis/stock-synthesis/files/6678960/lingcod_model_with_error.zip)
 from the still-in-process-with-lots-left-to-do lingcod assessment produced the following error.
[code]
Dave Fournier said (on [ADMB Users email list

[2021-06-18 21:11] Rick-Methot-NOAA commented on #186
this code in readdata should have produced a warning:

        if(data_time(ALK_time,f,1)<0.0)  //  so first occurrence of data at ALK_time,f
          {data_time(ALK_time,f)(1,3)=timing_r_result(1,3);}  // real_month,fraction of season, year.fraction
        else if (timing_r_result(1) !=  data_time(ALK_time,f,1))
          {N_warn++;  warning<<N_warn<<" "<<"SURVEY: data_month already set for y,s

[2021-06-24 18:09] Rick-Methot-NOAA commented on #186
this code should be producing a warning:
        if(data_time(ALK_time,f,1)<0.0)  //  so first occurrence of data at ALK_time,f
          {data_time(ALK_time,f)(1,3)=timing_r_result(1,3);}  // real_month,fraction of season, year.fraction
        else if (timing_r_result(1) !=  data_time(ALK_time,f,1))
          {N_warn++;  warning<<N_warn<<" "<<"SURVEY: data_month already set for y,s,f: "<<y<<" "<

[2021-06-25 22:14] Rick-Methot-NOAA commented on #186
verify that the code is not producing a warning on duplicate observations and that the expected value for the second observation is not correctly produced.

[2021-06-25 22:57] Rick-Methot-NOAA commented on #186
Actually, the warning is not about duplicate observations, rather to details of calculating timing.
SS is OK if a second yr,month,fleet is in a separate subseas from the first obs.
The code in SS_expval has this line:
                j=have_data(ALK_time,f,data_type,1);  //  for now, only one observations is allowed for surveys

So, I will change ss_readdata to produce a warning if there is a seco

[2021-06-26 00:01] iantaylor-NOAA commented on #186
Thanks for checking this out, @Rick-Methot-NOAA. Your explanation makes sense.

[2021-06-28 18:15] Rick-Methot-NOAA commented on #33
New thought:
The identifier fleet_type(f) is already fleet-specific.
fleet_type is closely associated with F_method as fleet_type=bycatch requires F_method=2, and fleet_type=3 (survey) requires no F_method.
Also, there is desire for fleet_type=4=predators which would have its own unique F_method.

SO:
rather than create fleet-specific I/O for F_method, instead elaborate fleet_type(f) to have these

[2021-06-28 19:02] Rick-Methot-NOAA opened #188 "Add output of F at Blimit"
Typically the fishery management plan sets Blimit = 0.5*Bmsy
There is desire to be able to report on the F associated with Blimit.
There already is information on this in the YPR/SPR profile, but so specific search for the F producing Blimit.
There already is a search capability for the F that produces a specific B/B0.  So, if user already knows the Blimit relative to B0, they could use that.
Anot

[2021-06-28 21:19] nschindler-noaa commented on #33
My thoughts aside from this being an input/output change
To allow for greatest flexibility, use different digits for different
purposes. First digit for the type of fleet and second for the method: e.g.
13 would be a fishing fleet using the hybrid method, 40 would be a predator
with its unique method. Some combinations would not be allowed, so some
checks would be needed. That way you can add flee

[2021-06-28 21:24] Rick-Methot-NOAA commented on #33
Good suggestion Neal.  Better than mine.

[2021-07-01 20:59] Rick-Methot-NOAA commented on #186
this commit also includes merger with small branch to remove some leading spaces in report.sso that interfere with excel reads, also some modifications to warnings during catch record read.

[2021-07-01 20:59] #186 closed

[2021-07-01 21:15] Cole-Monnahan-NOAA opened #189 "Failure to intialize recdevs from .par file"
I have a strange issue I cannot figure out. I am converting a 3.24U model to 3.30.17. To verify my settings are correct I want to put the MLEs from the old model into the new one. So I carefully constructed the .par file for the new one with the old values and ran it for a single iteration with command `ss -nohess -phase 500 -maxI 0`.

The recdevs in the input .par file look like this

 recdev_ear

[2021-07-01 22:26] Rick-Methot-NOAA commented on #189
Not sure what may be awry.  Please email me directly the 3.30 formatted input files, including the par file.  Converting a 3.24 par file to a 3.30 par file seems quite challenging as there is re-ordering within mgparms.

[2021-07-01 22:30] Cole-Monnahan-NOAA commented on #189
OK Rick, incoming. Yeah it was a tedious matching exercise but I'm confident it works because the model makes the same predictions between the two (likelihoods are a bit off and I'm tracking that down still but that's irrelevant to this point).

[2021-07-01 22:38] Rick-Methot-NOAA commented on #189
With a separate set of input files (simple), I ran to create a ss.par,  changed starter.ss to read ss.par, then ran using your script: -nohess -phase 500 -maxI 0  , and it worked as expected.

So I will test next using your files

[2021-07-01 22:40] Cole-Monnahan-NOAA commented on #189
For posterity, I did one last test before sending. It works fine if the recdevs are inputted in the ctl file, but fails if not. So it appears it may read from the .ctl even if reading from the .par file for this model.

Let me know what you find Rick, and thanks for taking the time to help debug.

[2021-07-01 23:02] Rick-Methot-NOAA commented on #189
Correct.  The control.ss_new file only reports the recdevs in a line preceded by a #.
Input of specific recdevs from control can only happen using this option: 
0 #_read_recdevs
which then invokes a specific format for reading individual years.  It was designed to allow SS to start from, for example a big 1977 yearclass, and not to read in all the devs.

The problem is in the manually converted st

[2021-07-02 14:38] Cole-Monnahan-NOAA commented on #189
@Rick-Methot-NOAA thanks for that clever sleuthing. That makes a ton of sense. I saw that warning but had no idea it could impact the model like that. Might be worth adding a brief statement for that warning (e.g., "Note this means reading from the .par file is disabled").

I couldn't get ss_trans to run, it would error out before creating the ss_new files so that's why I was working through this

[2021-07-02 14:38] #189 closed

[2021-07-08 20:51] Cole-Monnahan-NOAA opened #190 "Issue matching 3.24 and 3.30 models: expected index different"
I am converting an old 3.24U model to 3.30.17. I was unable to use sstrans so doing things manually.

At this point I have the dynamics matching exactly given the same input parameters. So numbers at age, total biomass, SSB, all these are very close, which tells me that the dynamics are equivalent.

However, when I compare the expected index (Vuln_bio in r4ss) I see substantial differences.

[code

[2021-07-08 20:58] Rick-Methot-NOAA commented on #190
Hi Cole,
There is no obvious change that would account for this, especially given the very large number of assessments that have been successfully converted.  Send me the whole set of 3.24 files and I'll get them converted, then post here the steps I go through in that process.
Rick

[2021-07-08 21:10] iantaylor-NOAA commented on #190
3.24 had index observations associated with a particular season, whereas in 3.30, they are associated with a month. An input of month = 7 should cause the new and old values to match, but if your 3.30 model has month = 1 (not converted from season = 1), then maybe either the beginning of year weight-at-age would have been used or a half-year of natural mortality would not yet have been applied cre

[2021-07-08 21:24] Cole-Monnahan-NOAA commented on #190
@iantaylor-NOAA I tried both of those and they change the expected index but not by much, much too small to make the difference. I'm pretty confused about how subseasons and timing work even after reading the manual, so there could be something else similar I did wrong there.

[2021-07-08 21:45] Rick-Methot-NOAA commented on #190
Cole,
please replicate my steps below.  I was able to get all the ss_new files created using the ss_trans distributed with 3.30.17.
Note that you should turn off reading of ss.par.

RUN 1:    I tried ss_trans with -nohess and -maxL 0.
SS reads all files and executes one iteration.
Then dies with:
1 2 -log(L): 6553.69  Spbio: 18424.3 8982.37
In final section
Finish time: Thu Jul 08 14:29:14 2021
El

[2021-07-08 22:04] Rick-Methot-NOAA commented on #190
got the ss_trans problem.
3.24 data file had:
 -1 0 #_surveytiming_in_season #revisit - I think it's 1 in Buck's model (after all of the mortality)
The "0" value made ss_trans think this survey occurs on Jan 1, so created month=1 in data.ss_new for both the index and the comp data.
But the "0" itself got converted to a "nan" in that fleet definition section of data.ss_new, so 3.30 failed when it t

[2021-07-09 00:02] Rick-Methot-NOAA commented on #190
I ran 3.24 to completion and got:
 76 -0.14979  -6.7372e-05 | 77 -0.02852   4.6740e-05 | 78 -0.01291  -6.5362e-05
6 637 -log(L): 1536.79  Spbio: 64292.6 93089.1
so there are 78 estimated parameters

Then with 3.30 on the files converted by ss_trans I get:
 82 -0.14977  -1.2559e-06 | 83 -0.02850   8.5391e-07 | 84 -0.01289  -1.2101e-06
7 732 -log(L): 1535.18  Spbio: 64330.8 93058.1
note there are no

[2021-07-09 13:50] Cole-Monnahan-NOAA commented on #190
@Rick-Methot-NOAA thanks for digging into that. I tried my best to get sstrans to work but wasn't able to track that one down so abandoned it. This is super helpful.

Can you clarify what's going on between

ss -nohess -maxI 0
and
ss -nohess -maxI -1
and
ss -nohess -phase 500 -maxfn 0

I'm surprised those are different. Also -maxI isn't in the ADMB documentation nor in the SS manual.  It looks lik

[2021-07-09 14:11] iantaylor-NOAA commented on #190
@Cole-Monnahan-NOAA, good question. I don't know what `-maxI` is doing and we could definitely do a better job of documenting the command-line arguments commonly used with SS. For starters, here's some related info that we could move into a future user manual.

Last October @k-doering-NOAA did some investigations comparing three options:

1. `ss -maxfn 0 -phase 50 -nohess` which uses generic ADMB

[2021-07-09 14:12] kellijohnson-NOAA commented on #190
maxI is legacy code that led to confusion because it was hard to determine if the trailing letter was an "eye" or "ell" because of the ambiguity in font rendering. Thus, @Rick-Methot-NOAA added a new feature that is documented in the manual called stopph, which is documented in [ss_model_tips](https://github.com/nmfs-stock-synthesis/ss-documentation/blob/ca342aaca2b0f77ba37f7324ffefd93970b6b8cc/Us

[2021-07-09 14:23] Cole-Monnahan-NOAA commented on #190
Thanks for that clarifications. I naively did a search for "-maxi" in the manual and so missed that. I think at least we could put in something like "...stopph (formerly maxI)..." and maybe note this feature in the ss_trans section?

Anyway, happy to help with dox where I can.

Thanks for the help. Closing this down as successful.

[2021-07-09 16:00] Rick-Methot-NOAA commented on #190
Let me add that the -1 option for phase is a trap to allow SS to bypass the
procedure section and go straight to writing out the *.ss_new files.  Ian
covered the rest well.

Rick

On Fri, Jul 9, 2021 at 7:23 AM Cole Monnahan ***@***.***>
wrote:

[2021-07-09 23:03] Rick-Methot-NOAA opened #191 "spawner-recruitment without steepness"
paper by Miller and Brooks advocates for using the "a", "b" formulation of SRR curves, rather than steepness, when there is time varying biology which affects the spawners per recruit calculation.

[2021-07-09 23:07] Rick-Methot-NOAA opened #192 "convert catchfleet IF statements to lookup table"
code like:
                for (g=1;g<=gmorph;g++)
                if(use_morph(g)>0)

better as:
                for (g1=1;g1<=gmorph_use;g1++)
                {g=g_use(g1);
.......

similar  for fishing fleets

[2021-07-09 23:11] Cole-Monnahan-NOAA commented on #190
Ugg I hate to do this, especially on a Friday afternoon. But I'm actually in exactly the same place I was at the original post. It is true that Rick's solution got ss_trans working, but the models still do not match.

So if I start the new 3.30.17 model from the old MLE values (carefully editing the new .par file), then the dynamics match and SSB and total biomass matches. But vulnerable does not.

[2021-07-09 23:21] Rick-Methot-NOAA commented on #190
please send Rick that edited par file

[2021-07-12 16:49] k-doering-NOAA commented on #191
[Miller and Brooks 2021](https://doi.org/10.1111/faf.12534)

[2021-07-14 19:52] Cole-Monnahan-NOAA commented on #190
After much back and forth we did figure out that there are some key differences here.

My 3.24U model had the timing as -1 0 and Rick shows above that this breaks ss_trans so he changed it to -1 0.5. That works and with a few minor tweaks 3.30 will run.

The expected index difference remains, however. It seems the closest I can get is to use month=1 for the index data, and month=7 for the comps, p

[2021-07-14 19:52] #190 closed

[2021-07-16 18:11] k-doering-NOAA commented on #75
Hi @kellijohnson-NOAA and @Rick-Methot-NOAA ,  this issue is still open and labelled as "needs testing". Is that still accurate?

[2021-07-16 18:14] Rick-Methot-NOAA commented on #75
The limited testing I did when I created it showed no caution flags.
Always good if someone can take a second look, but I am satisfied if not.

Rick

On Fri, Jul 16, 2021 at 11:11 AM Kathryn Doering ***@***.***>
wrote:

[2021-07-31 01:23] Rick-Methot-NOAA commented on #33
A substantial revision to everything about Fparms and their indexing has been pushed.
Do not do a pull request yet.
It works for an example that uses Fmethod=2 and has a bycatch fleet (using cobia example)
lots of extra cout statements still need cleaning up.
Next step is to finish implementation of Fmethod 4 which will use the revised innards to allow for fleet-specific Fmethod.

[2021-08-03 04:51] Rick-Methot-NOAA commented on #33
Got it.
Syntax looks like this to get F_Method 4, which I now consider a preferred option over 2 and 3.
4 # F_Method:  1=Pope; 2=instan. F; 3=hybrid; 4=fleet-specific parm/hybrid (#4 is recommended)
2.9 # max F or harvest rate, depends on F_Method
# for Fmethod 1; no additional F input needed
# for Fmethod=2; read overall start F value; overall phase; N detailed inputs to read
# for Fmethod=3; rea

[2021-08-03 14:54] Rick-Methot-NOAA commented on #33
Realizing that the previous F_Detail feature should be retained for F_Method_4.  It will be straightforward to allow it for F_Method 4.
Also note that the F_Detail feature reads yr, seas and if yr is negative it fills forward for all remaining years. But it does so for just that season, not all seasons.  A user can compensate by doing Nseas entries to cover all of the seasons.   While a -season en

[2021-08-03 14:55] k-doering-NOAA commented on #33
@Rick-Methot-NOAA , I hope you don't mind I edited your comment! adding three backticks before and after the input marks it as code, which means github markdown formatting won't be automatically be applied (the pound sign indicates a heading, the same as an h1 html tag).

Also, do you expect estimated F values to change for models using F methods 1-3 ?

[2021-08-03 15:04] Rick-Methot-NOAA commented on #33
Thanks.  I know that but forgot again.

Existing models "should" not be affected.  However, I did improve/tweak the
hybrid algorithm so it is possible for slight differences to occur for
F_Method 3.  Please let me know.
The internal code for F_Methods 2, 3, 4 is nearly all shared.  All that
really changed was the added indexing needed to allow fleet-specific
F_Method decision within the popdyn cal

[2021-08-12 13:12] iantaylor-NOAA opened #193 "report forecast catch with and without 40:10 adjustment (or equivalent)"
The 2021 lingcod south area assessment estimates current spawning biomass slightly below the B40% target leading to the additional impact of the 40:10 adjustment used in the harvest control rule for U.S. west coast groundfish.
We have been told "The 40-10 rule adjusts the ACL, not the ABC.  In this case, ABCs and ACLs should be reported.". Currently the ForeCatch_2021 value in derived quantities i

[2021-08-12 15:59] Rick-Methot-NOAA commented on #193
The PFMC uses somewhat incorrect terminology relative to the NS1 Guidelines.

SS reports OFL, which is the overfishing level and I think it corresponds
to the PFMC's ABC.
SS reports ABC, which includes the 40:10.  ACL is an additional management
adjustment below the ABC and is not calculable from any model.  So, take
SS' ABC as max ACL.

However, SS' OFL does not include the effect of recent input

[2021-08-12 17:23] iantaylor-NOAA commented on #193
Thanks @Rick-Methot-NOAA for the additional information.

@chantelwetzel-noaa pointed me to the 2015 sablefish assessment as an example where OFL, ABC, and ACL are all reported (see screenshot below). However, reading through NS1 guidelines at https://ecfr.federalregister.gov/current/title-50/chapter-VI/part-600/subpart-D/section-600.310#p-600.310(f)(2)(ii), I understand what you're saying that th

[2021-08-12 17:32] Rick-Methot-NOAA commented on #193
Let's keep this on the wishlist because I see merit in getting a report of
OFL conditioned on taking fixed catches in the first few years, but this
will be a biggish deal to implement.  Right now OFL is calculated
conditioned on catching OFL in all years of the forecast.

Other major forecast improvements are:
1.  recruitment based on random draws (with correlation) from past recdevs
2.  long fore

[2021-08-14 18:34] Rick-Methot-NOAA commented on #33
latest test (commit = fix errant break) only had minor differences for vermillion test set.  So I conclude that the current code causes no problems for models that use F_Method 2 or 3.

Next step will be to convert some additional test cases over to F_Method 4 and compare to performance with original F_Method 2 or 3.
Note that with F_Method 4, a fleet can be instructed to continue to use hybrid fo

[2021-08-16 13:02] k-doering-NOAA commented on #33
Just to make this more quantitative, I think vermillion total likelihood changed by ~1% when running with no estimation:
![image](https://user-images.githubusercontent.com/48930335/129567401-5069cc2a-9509-4fd9-b016-9fc564b696b6.png)

@Rick-Methot-NOAA are you sure this is ok, given this is running with no estimation? I only ask because this is the only F method 2 model in our test set, so the chan

[2021-08-16 16:03] k-doering-NOAA opened #194 "Fixing recdevs not working?"
See https://vlab.noaa.gov/web/stock-synthesis/public-forums/-/message_boards/view_message/17086821

according to the manual, it should be possible to fix recruitment deviations, but it is not working.

Does this seem like a bug? Or maybe I have misinterpreted what this feature does?

I can try  to reproduce with another model if this sounds like a potential bug @Rick-Methot-NOAA

[2021-08-16 16:44] Rick-Methot-NOAA commented on #194
rec devs are a dev_vector so individual years cannot be fixed.
starting values for individual years can be read using a special format in the control file, but the entire vector is either fixed or estimated.

[2021-08-16 16:50] Rick-Methot-NOAA commented on #33
All of my testing was with cobia, which is a Fmethod 2 model.  I will double-check the no estimation with that one and also will take a look at vermillion.  I thought that vermillion was already one of our problematic examples, but I will indeed look more closely.

[2021-08-16 17:39] k-doering-NOAA commented on #194
Ok, that makes sense, perhaps we just need a little rewording in the manual then. I was confused by the "Number of Explicit Recruitment Deviations to Read:", which you can then input individual years' recdevs, so it sounds like you can fix them even when running with estimation.

[2021-08-16 17:41] k-doering-NOAA commented on #194
Also, thanks for addressing this!

[2021-08-16 17:41] #194 closed

[2021-08-17 16:05] Rick-Methot-NOAA commented on #33
Kathryn was right; the code logic needed more work.  Now nearly ready for a pull request.  Max willing to be beta tester.

[2021-08-17 16:15] k-doering-NOAA commented on #33
Glad to hear you figured it out! Great to hear Max is willing to help test; perhaps he could test out the branch before it gets merged into main?

[2021-08-17 20:41] Rick-Methot-NOAA commented on #33
The input format for the F_Method 4 is:
4 # F_Method:  1=Pope; 2=instan. F; 3=hybrid; 4=fleet-specific parm/hybrid (#4 is recommended)
3 # max F or harvest rate, depends on F_Method
# for Fmethod 1; no additional F input needed
# for Fmethod=2; read overall start F value; overall phase; N detailed inputs to read
# for Fmethod=3; read N iterations for tuning for Fmethod 3
# for Fmethod=4; read list

[2021-08-17 23:05] Rick-Methot-NOAA commented on #192
for fishing fleets, I have started making changes using the following syntax:
A.  in readdata, create a vector containing fleet number for each fishing fleet:
      if(fleet_type(f)<=2)    {
          N_catchfleets++;
          fish_fleet(N_catchfleets)=f;  //  to find the original fleet index
          ...........

Then anywhere we want to process only the fishing fleets:
              for(int ff

[2021-08-18 13:34] k-doering-NOAA commented on #33
See PR #195 for the code

[2021-08-19 21:28] Rick-Methot-NOAA commented on #33
In final testing, we found a situation where hybrid F through the final phase causes a worse fit than use of F as parameters.  This was with red grouper where catch se is high (0.15) and some fleets have discard data to fit also.
with hybrid for fleet3, the F's cause the expected catch to match the observed catch, which is much better than expected given se = 0.15 on the catch.
These forced F's ca

[2021-08-20 00:28] Rick-Methot-NOAA commented on #181
code was referring to just first season length-at-age, and it had an incorrect reference to Bseas(g).
Both are fixed.
Note that existing models that uses Lorenzen M and seasons will now see a different result because of the, now corrected, seasonality in M.

[2021-08-20 17:57] Rick-Methot-NOAA commented on #91
a quick targeted test should resolve this issue easily

[2021-08-23 22:13] Rick-Methot-NOAA commented on #188
first cut at code to do this:
a.  replicate the Btarget search code after the MSY search code
b.  in the replicated code, search for 50% of B_MSY rather than user input Btgt
c.  save that Fmult and use it in the SPR/YPR profile.

Next need to provide user control of what % of B_MSY to use.
@chantelwetzel-noaa please comment.

[2021-08-24 00:56] Rick-Methot-NOAA commented on #188
Finished.
Input format looks like:
3 # Benchmarks: 0=skip; 1=calc F_spr,F_btgt,F_msy; 2=calc F_spr,F0.1,F_msy;  3=add F_Blimit
2 # MSY: 1= set to F(SPR); 2=calc F(MSY); 3=set to F(Btgt) or F0.1; 4=set to F(endyr)
0.4 # SPR target (e.g. 0.40)
0.342 # Biomass target (e.g. 0.40)
-0.25 # COND: Do_Benchmark==3;  Blimit as fraction of Bmsy (neg value to use as frac of Bzero) (e.g. 0.50)

Output in Mgmt_

[2021-08-24 14:14] chantelwetzel-noaa commented on #188
This looks like a reasonable approach.  In the above example the F at the Bmsy fraction would reflect the F at 25% of unfished biomass. Is that correct?

[2021-08-24 16:40] chantelwetzel-noaa opened #198 "Separate Data Weighting for Discard and Retained Lengths or Ages"
Currently, SS applies a single data weighting value to all data of specific type from a fleet.  In models where retention is being estimated using discard along with retained observations one may want to apply different data weights to discard and retained observations. Developing an approach to apply data weights based on the partition type would allow finer control over how different observation

[2021-08-24 17:27] Rick-Methot-NOAA commented on #188
Correct.  This setup would give the F associated with 25% Bzero

[2021-08-24 18:24] Rick-Methot-NOAA commented on #198
duplicate of issue #93

[2021-08-24 20:22] Rick-Methot-NOAA commented on #188
plots like the attached would be good to include in r4ss
[F_at_Blimit.xlsx](https://github.com/nmfs-stock-synthesis/stock-synthesis/files/7041905/F_at_Blimit.xlsx)

[2021-08-27 17:04] k-doering-NOAA opened #200 "Option to exclude bycatch fleets from the annual_F"
This suggestion came up during a discussion with SEFSC. Some models include red tide as a fleet, but in some cases, it could be helpful to not include them in the benchmarks.

(@Rick-Methot-NOAA , please feel free to edit the comment/title of this issue if I did not capture it well!)

[2021-08-27 19:35] Rick-Methot-NOAA opened #201 "automate compile date"
per Neal S.
"__DATE__" is a preprocessor macro that expands to current date (at compile time) in the form mmm dd yyyy (e.g. "Jan 14 2012"), as a string. The __DATE__ macro can be used to provide information about the particular moment a binary was built.

I think the syntax
!!version_info+="#V3.30.17.01Beta;";
!!version_info+=__DATE__;
!!version_info+=";_safe;_Stock_Synthesis_by_Richard_Methot_(NO

[2021-08-27 20:34] k-doering-NOAA opened #202 "Change version info in github action"
Do this to make it clear that the github action job is a tester version.

Note we will probably want a separate job for exes that are formally released (releases and distributed fixes)

[2021-08-27 23:24] Rick-Methot-NOAA commented on #200
random notes on what this will take:
What this will take:

- YPR_mask(f) is created in readdata using:
-           if(bycatch_setup(f,2)==2)  //  omit bycatch fleet catch from YPR optimize
-           { YPR_mask(f)=0;   }
-- So need to use this to exclude from annual_F and annual_catch also, or create new option by creating bycatch_setup(f,2)==3 to extend the exclusion and maintain backward compat

[2021-08-31 04:43] Rick-Methot-NOAA commented on #200
in forecast, this code is within the season loop, so the initialize to 0.0 seems wrong:
            if((Fcast_Loop1==2 || Fcast_Loop_Control(1)==1) && ABC_Loop==1)  // get variance in OFL
            {
            	Mgmt_quant(Fcast_catch_start+N_Fcast_Yrs+y-endyr)=0.;
              for (f=1;f<=Nfleet;f++)
              {
                if(fleet_type(f)==1)
                {Mgmt_quant(Fcast_catch_

[2021-09-01 15:43] Rick-Methot-NOAA opened #205 "possible bug in forecast calcs"
in forecast, this code is within the season loop, so the initialize to 0.0 seems wrong.  This would only affect a multi-season model, so should be investigated with such:
if((Fcast_Loop1==2 || Fcast_Loop_Control(1)==1) && ABC_Loop==1) // get variance in OFL
{
Mgmt_quant(Fcast_catch_start+N_Fcast_Yrs+y-endyr)=0.;
for (f=1;f<=Nfleet;f++)
{
if(fleet_type(f)==1)
{Mgmt_quant(Fcast_catch_start+N_Fcast_Y

[2021-09-01 15:49] Rick-Methot-NOAA commented on #200
The solution outlined above was investigated and a branch created.  However, the code changes necessary in FORECAST were complex and would need much testing.  Nevertheless, this branch may have some useful code changes to compare and consider.

The alternative approach that was taken and completed was to implement git issue #45 such that red tide effect on natural mortality can be done as a predat

[2021-09-01 15:49] #200 closed

[2021-09-01 15:59] Rick-Methot-NOAA commented on #45
This issue became actively developed on 8/31/2021 in order to provide a means to treat mortality caused by Red Tide as a part of M rather than part of F.  Because if it is part of F, then the overall F reporting becomes distorted (see #200).

The approach being implemented is as follows:
1.  designate fleet as a predator  type 4
2.  nothing else needed in data file
3.  control file:  then at end o

[2021-09-01 16:45] Rick-Methot-NOAA commented on #41
This can be made more generic, but may need a new likelihood component.

All time-varying parameters (except recdevs) are contained in this table:
  matrix parm_timevary(1,timevary_cnt,styr-1,YrMax);  //  time series of adjusted parm values for block and trend

That matrix is created, row by row, in readcontrol when it calls FUNCTION:
- create_timevary()
The matrix is populated at the top of Popdy

[2021-09-02 17:27] nathanvaughan-NOAA commented on #45
Thanks Rick,
        I was able to get the basic setup running with Gag. A brief rundown of the changes I made are
1) Adjust fleet type from 2 to 4 for the red tide fleet in the dat file
2) Remove the discard fleet specification row from the dat file
3) Add an M2 parameter to the control file for the red tide fleet fixed at zero, with TV blocks enabled and set up to replace the base param in each

[2021-09-02 18:05] Rick-Methot-NOAA commented on #45
Thanks Nathan.  Those are exactly the steps I followed for red grouper.

The trick in doing this is that I could not add M2 right after getting the
usual M1 calculated.

Instead, the code for M2 is further down in the code and is in the season
loop so it can use results of makefishselex() to spread the M2 across ages.

So the sequence goes:
1.  calculated natM()  using  get_natmort();
2.  store co

[2021-09-02 20:10] k-doering-NOAA commented on #45
Could more explicit parameter names besides M1 and M2 be used? Especially if these are reported back to the user... I personally always forget what is meant by these

[2021-09-02 20:18] Rick-Methot-NOAA commented on #45
M2 is an usual and accustomed term in the multispecies modeling world.
M=M1+M2 where M2 is the component of M due explicitly to predation.

On Thu, Sep 2, 2021 at 1:10 PM Kathryn Doering ***@***.***>
wrote:

[2021-09-02 20:23] k-doering-NOAA commented on #45
Right, but that still doesn't make it a great name! But I guess we live with Type I and Type II error in statistics... I think someone brought up using more explicit names than M1 and M2 in a discussion at CAPAM, also.

[2021-09-02 20:29] Rick-Methot-NOAA commented on #45
We're on the cutting edge, so we can initiate the change!
We can call the parameter _predM

We should develop some output to show base M, predM, combined M, and
combined M+F (e.g. Z).

On Thu, Sep 2, 2021 at 1:23 PM Kathryn Doering ***@***.***>
wrote:

[2021-09-02 20:41] k-doering-NOAA commented on #45
Great ideas, Rick - are all these values reported yet from SS? Or does that still need to be added?  Happy to help out with new r4ss plots, potentially.

 Hmm, trying to think of an informative name for M_base, I wonder if that could be confused with calling something the "base parameter value" when using time varying values? Giving this more thought, I can see why multispecies community defaulted

[2021-09-03 20:51] Rick-Methot-NOAA commented on #45
Working with Max we realized that the pred_M2 for styr-1 (initial equilibrium) needs better controls.

[2021-09-03 21:01] ChristineStawitz-NOAA commented on #45
I'm working on naming with Kelli now and I can't say I have a good solution yet beyond the concept of [self-documenting code](https://en.wikipedia.org/wiki/Self-documenting_code) such that it is obvious what each one is. For example, base_natM, multispp_natM, singlespp_natM. If you are changing it in Stock Synthesis might be worth a longer chat now so we can be consistent with future names in FIMS

[2021-09-03 22:11] Rick-Methot-NOAA commented on #45
Thanks Christine.  I am not ready to revamp the entire internal naming conventions for Synthesis, but will consider changes in future to attain better alignment with protocols developed by FIMS.  Right now, if pred_M2 is used the natM is updated to include it.  Someone will eventually want easy access to base_natM, so I will create that now.

[2021-09-03 23:16] Rick-Methot-NOAA opened #206 "time-vary biology for styr-1 (init_equil)"
Currently the code logic in popdyn is:
1.  call make_timevaryparm()  which files a vector from styr-1 to YrMax with values for each parameter that has some flavor of time-varying value.
2. set y=styr
3. call MGsetup(y)  which creates year specific biology using current year's value for time-varying parameters
4.  do Initial_Equilibrium conditions using styr biology.

That has been the logic for a

[2021-09-04 03:08] Rick-Methot-NOAA commented on #41
Currently, a parameter link to a env input is invoked by:
       k=int(abs(MGparm_1(j,8))/100);  //  find the env link code
       timevary_setup(6)=k;  //  link code for env
       if(MGparm_1(j,8)>0)  //  env variable used
       {
         timevary_setup(7)=int(abs(MGparm_1(j,8)))-k*100;
         k=timevary_setup(7);
//         for(y=styr-1;y<=YrMax;y++) enandv_data_pass(y)=env_data_RD(y,k);

[2021-09-07 12:54] k-doering-NOAA commented on #206
Is there a way to add a warning for this @Rick-Methot-NOAA ? We could also add this info to the manual

[2021-09-07 13:12] k-doering-NOAA opened #207 "Prepare for 3.30.18 release"
## Checklist for before prerelease
- [x] SS testing and debugging completed (IT or KD)
- [x] r4ss updated (IT)
- [x] Helper spreadsheets updated (KD)
- [x] Put together release announcement (RM or KD)
- [x] code committed and tagged in repo as v3.30.18-prerel (RM)
- [x] prerelease exes built (KD)
- [x] All exes added to github releases as v3.30.18-prerel (KD)
- [x] Announce prerelease (RM) (Not su

[2021-09-07 17:19] Rick-Methot-NOAA commented on #206
warning would need some convoluted logic.

For recruitment regime shift parameter, the time-varying capability does
extend to year styr-1.

For all biology parameters, time-vary extends only to styr and the styr
biology is used for virgin and init_equilibrium

If user desires different biology for styr and styr-1, the user need only:
a.  add one more year to beginning of time series, this becomes

[2021-09-07 18:59] k-doering-NOAA commented on #206
Ok - too bad it is not simple to add a warning! That seems like it would be the best way to alert users to the simpler, alternative setup.

Hmm, I'm trying to think of other ways to communicate this to users, but maybe the best we can do is make sure this is documented in the manual and answer people's questions if it comes up. It is good this issue was opened, too, in case someone searches the is

[2021-09-07 19:04] Rick-Methot-NOAA commented on #206
warning logic would have to be:
a.  after all time-varying linkages have been created (they are created
one-by-one as base parameters are created)
b.  does that time-vary parameter reference styr-1
c.  is the base-parameter a biology or selectivity parameter?

On Tue, Sep 7, 2021 at 11:59 AM Kathryn Doering ***@***.***>
wrote:

[2021-09-08 13:45] k-doering-NOAA opened #208 "Remove duplicated items from vlab"
Some items are now on both vlab and github. In addition, many items are manually uploaded to vlab, which takes a lot of time.

For items that are maintained on github, provide links to the github version so that users can download the materials there instead.

[2021-09-08 13:51] k-doering-NOAA commented on #202
Thanks @kellijohnson-NOAA and @Rick-Methot-NOAA ! These are all great thoughts. I really like the idea of making more things automated.

I was thinking maybe everything would just be labeled experimental (maybe with the last commit number), unless it is tagged and in the main branch? That way, when we are ready to do a release, we can just add the tag manually, as we normally do (if it is a prerel

[2021-09-08 13:54] k-doering-NOAA commented on #202
Good point...I wonder if bumping the major version would indicate to folks a big I/O change, which we (thankfully) haven't had? So perhaps given the way we have been doing versioning, it makes sense to be stuck at .30?

[2021-09-08 17:12] Rick-Methot-NOAA commented on #45
While working with Max on vendance application, realized that need to calculate the total consumption by each M2 fleet.  This can be done at same time as the other catch for fishing fleets are calculated.
Will store this as discard so the observed total consumption amounts can be entered as discard.

So, three capabilities will be developed:
a.  enter M2 as env driver:  So M2 = 0.0 + env_link_parm

[2021-09-08 19:46] k-doering-NOAA commented on #202
@Rick-Methot-NOAA , how should we implement this? Here are two options I am thinking about, but feel free to suggest another

1. by default, says experimental
In the files,
[code]
2. by default, says a placeholder, like 3.30.xx.yy.
In the files,
[code]

I think this matters because this is what would show up when compiling locally. I'm leaning towards 1, but what are your thoughts?

[2021-09-08 19:50] Rick-Methot-NOAA commented on #202
I already am doing something like (1), but using beta rather than
experimental.

3.30.17.beta

but should it be beta developments after .17

or 3.30.18beta   as a beta for .18 in development?

On Wed, Sep 8, 2021 at 12:46 PM Kathryn Doering ***@***.***>
wrote:

[2021-09-08 19:57] k-doering-NOAA commented on #202
Hmm, good point! I think leaving it as 3.30.17.beta makes sense given how we number fixes currently.

I was hoping to take all numbers except 3.30 out of the file  and have github actions automate the other numbers for us; but this would mean any locally compiled exes would be missing the .17 (it would either look like 3.30.beta or 3.30.xx.yy). Does this seem ok?

The other option is we could leav

[2021-09-08 20:30] Rick-Methot-NOAA commented on #202
3.30.beta seems very ambiguous if we are to send it to someone for testing.

*Richard D. Methot Jr. Ph.D.**NOAA Fisheries Senior Scientist** for Stock
Assessments*

*Mobile: 301-787-0241*

On Wed, Sep 8, 2021 at 12:58 PM Kathryn Doering ***@***.***>
wrote:

[2021-09-08 20:36] k-doering-NOAA commented on #202
yes, that is true... I am thinking the github actions could add in the .17, since we more and more have been sending exes compiled by it?

[2021-09-08 20:37] k-doering-NOAA commented on #202
...and the github actions would get this from the last tag in the repo, so wouldnt be hard coded anywhere.

[2021-09-08 22:54] Rick-Methot-NOAA commented on #45
implement the above:
total consumption by each predator is now stored in exp_disc where SS can create logL relative to input of consumption amounts

pred_M2 parameter is mapped into survey expected values using survey_type==2  (survey of F).  Exept in this case it is not a F, it is M2.

Set up M2 for vendance model as a random dev and seemed to run fine, although with rather high biomass and low F

[2021-09-09 18:58] nathanvaughan-NOAA commented on #45
Hey Rick,
     I'm still working through the predator fleet testing with Gag. I was able to get it up and running once I figured out the surveys were running in month 7 and if you don't have any catch in that season everything returns nulls. The first potential forecasting error I have noticed is that fixed forecast inputs for retained catch are not being matched exactly in the report time_series

[2021-09-09 19:03] nathanvaughan-NOAA commented on #45
https://drive.google.com/drive/u/1/folders/10qPS48uP6KfbQPo3aPBSghRa6Wrccs4i

here is the link to google drive Gag run.

[2021-09-10 17:09] k-doering-NOAA commented on #202
Of course, this ended up being a bit more of a rabbit hole than expected! I have automatic versioning added in all the jobs except for the linux one (having some issues because I need to use centos 8 for a new version of git, but then admb will only work on centos 7. Still working to solve it).  This is done by editing the tpl file right before compiling based on the current commit and the last ta

[2021-09-10 18:17] Rick-Methot-NOAA commented on #202
This seems quite complex if it needs to interact with tags.  Currently tags
are only added for releases.  So I am missing a piece of the logic.
The changes being proposed here seem to supercede the changes already in a
branch for adding _DATE_.   Has that branch already been merged into main?

On Fri, Sep 10, 2021 at 10:09 AM Kathryn Doering ***@***.***>
wrote:

[2021-09-10 18:27] k-doering-NOAA commented on #202
I'm thinking going forward we should also add some tags for any fixes that we post for the community? I did this for the last one (https://github.com/nmfs-stock-synthesis/stock-synthesis/releases/tag/v3.30.17.01).

My logic was we just call anything that we don't want to distribute to the community .beta, instead of giving a fix number. I think this is sort of what we are doing already. We could a

[2021-09-10 18:31] k-doering-NOAA commented on #202
Also, here is a link to a working file, that just builds the one windows exe: https://github.com/nmfs-stock-synthesis/stock-synthesis/blob/8a55415fc246d5c1845f1fe950ecdffc53e76144/.github/workflows/build-win-basic.yml . Pulling the information from tags is actually only 2 lines of code; most of what needed to be written was logic statments in R to format the version as desired.

[2021-09-10 18:39] Rick-Methot-NOAA commented on #202
agree with tagging things that are released to the community.

the code I am working now with Nathan and Max for predators should be
labelled beta.  Right?   But it is just to them and not to the public.

I have not been attentive to keeping a branch that is only fixes to
the last release separate from a branch that is implementing new features.
All are getting merged into main and it is getting r

[2021-09-10 18:49] k-doering-NOAA commented on #202
Yes, that is what I was thinking! And that is what would happen in the github action. Basically, if it is not tagged, it's labeled beta.

Yeah, I remember we discussed this a while back! I think it is ok as-is. We would need a lot more branches and rules on what to put where and how to merge them to keep everything separate. In my opinion, right now it isn't worth the extra effort at this moment.

[2021-09-13 16:58] k-doering-NOAA commented on #202
I should add, the solution to getting the linux version was Johnoel was able to replace the admb 12.3 exe so that it would also work with gcc-8 (which was needed to get the linux job working in a centos 8 container). That solved the issue.

[2021-09-14 16:50] #202 closed

[2021-09-15 01:37] Rick-Methot-NOAA commented on #45
find need to add seasonality.
So now if nseas>1, add a season multiplier for each season.
#  M2 parameter for each predator fleet
 0 4 0.283 0.2 0.8 0 -3 0 5 1991 2018 2 1 2 # PredM2_1
 0 10 1 1 1 0 -1 0 0 0 0 0 0 0 # PredM2_1_s1
 0 10 1.12491 1 1 0 4 0 5 1991 2018 4 0 0 # PredM2_1_s2
 0 10 1.40781 1 1 0 4 0 5 1991 2018 4 0 0 # PredM2_1_s3
 0 10 1.80095 1 1 0 4 0 5 1991 2018 4 0 0 # PredM2_1_s4
#

[2021-09-15 17:19] k-doering-NOAA commented on #208
@Rick-Methot-NOAA , could you take a look at the [Stock Synthesis website home page](https://vlab.noaa.gov/web/stock-synthesis/home) and see if it looks good to you?

For now, I have left the exes on github, but I think we discussed just using [github releases](https://github.com/nmfs-stock-synthesis/stock-synthesis/releases)?

[2021-09-15 17:34] Rick-Methot-NOAA commented on #208
Looks like changes have already been made to the public VLAB page?

I see several places where the viewer gets referred to the github
page, which may create confusion.  I envisioned a cleaner separation that
simply put all aspects of code management at github and kept user examples
at VLAB.

Will try to comment more later.

On Wed, Sep 15, 2021 at 10:19 AM Kathryn Doering ***@***.***>
wrote:

[2021-09-15 17:39] k-doering-NOAA commented on #208
Sorry about that, I should have saved it as a draft instead!

My thinking was that we are actually maintaining user examples using the github repository, so it could actually be less confusing than having them duplicated on github, but I understand how having links away from vlab could be confusing also.

I'll wait for your additional comments until changing anything else.

[2021-09-16 16:45] k-doering-NOAA commented on #33
@Rick-Methot-NOAA , thank you for putting this together, I was able to switch to using F method 4 easily.

I did have a question about one section of the input:
[code]
When I removed the line for fleet 4, I got a fatal warning:
[code]

However, when I removed the line for fleet 3, the model ran through with no fatal error. Is this exected? Are inputs only required for bycatch fleets in this sectio

[2021-09-16 16:54] Rick-Methot-NOAA commented on #33
good testing.  Your interpretation is correct.
bycatch fleets must be assigned to use parameters in phase 1
all other fishing fleets will be hybrid (essentially the 99 option) unless explicitly given a parameter conversion phase.

[2021-09-16 16:55] k-doering-NOAA commented on #33
Great, thanks! I'll make sure that explanation makes it into the manual.

[2021-09-24 14:51] chantelwetzel-noaa opened #211 "No numbers- and biomass-at-age and at-length reported for > 1 growth patterns"
Based on reported [issue via vlab](https://vlab.noaa.gov/web/stock-synthesis/public-forums/-/message_boards/view_message/17688601) I looked back at an example model that had greater than one growth pattern per sex using SS version 3.30.08 and was able to confirm the issue.  The the numbers-at-age, numbers-at-length, biomass-at-age, and biomass-at-length are only being reported for the first growth

[2021-09-24 15:46] Rick-Methot-NOAA commented on #211
DId you test with current:  3.30.18 ?

[2021-09-24 15:56] chantelwetzel-noaa commented on #211
Good point. I did not since I did not have 2 growth pattern model on hand to test associated with a newer version of SS.  We should ask Thom what version he is using as well where he is seeing this issue?

[2021-09-24 16:58] k-doering-NOAA commented on #45
@Rick-Methot-NOAA should this be marked resolved?

[2021-09-24 21:49] Rick-Methot-NOAA commented on #211
My test did not show missing output.
His input should have had recdist_method 3, not 4, because he is using Morphs
When I change my example to use 4, it crashes.  Perhaps his earlier version of SS plays through but then misses some output.

[2021-09-27 15:42] Rick-Methot-NOAA commented on #211
I added to 3.30.18 a warning that should trap for the incorrect input that caused this problem.  Closing this issue.
Rick

[2021-09-27 15:42] #211 closed

[2021-09-27 16:45] k-doering-NOAA commented on #207
We are planning to finish up the release by the end of the week (Oct 1). Please feel free to check off items as they get done

[2021-09-28 14:40] k-doering-NOAA commented on #33
@Rick-Methot-NOAA , while I was making changes to r4ss read/write functions, I realized that in all other cases where data being read  does not have a defined number of rows to read, the last row ends with -9999, in the first column not -999.

Could this be changed to make it more consistent?

[2021-09-28 14:49] Rick-Methot-NOAA commented on #33
Yes!  Good catch.
Here are instances in readdata and then readcontrol that should be
addressed.
Let's settle on -999, change write_ss_new to output -999, not -9999, then
change all the internal checks to look for <=-999 to catch -999 and -9999.

 404         if(tempvec(1)==-9999.) ender=1;
 434     if(g==-999)
 440     if(y>=styr-1 && y<=endyr && (g==-999 || g>=styr))  //  observation
is in date r

[2021-09-28 16:00] k-doering-NOAA commented on #33
wait, I think this change is simpler if we just change the new fleet-specific F method ending from -999 to -9999. I think the only thing that would need to be done is change that one, because all the others already use -9999, to my knowledge.

[2021-09-28 16:03] Rick-Methot-NOAA commented on #33
good.  I will make that change.

[2021-09-28 16:07] k-doering-NOAA commented on #33
Great!

[2021-09-28 18:31] Rick-Methot-NOAA commented on #33
The readcontrol code for F_Method list was already generic and actually only checked for any negative number.  So just update the examples and manual to say that ender is indicated by -9999 for consistency.

[2021-09-28 21:57] k-doering-NOAA commented on #207
We are currently aiming for a release by end of the day, Sept 30. Rick says there haven't been any reported concerns from users about pre-release.

[2021-09-28 22:06] nschindler-noaa commented on #33
Well, I set the SSI to check for -9999 out of habit, so I guess I came out
ahead this time!

On Tue, Sep 28, 2021 at 11:32 AM Richard Methot ***@***.***>
wrote:

--

Neal Schindler

Programmer Analyst, Caelum

NWFSC (206) 860-3407

cell (206) 909-0505

[2021-09-29 01:02] Rick-Methot-NOAA commented on #33
totally spiffed up control.ss_new now looks like below.
Note that for F_Method 2, the 3 inputs are now on separate lines:
2 # F_Method:  1=Pope midseason rate; 2=F as parameter; 3=F as hybrid; 4=fleet-specific parm/hybrid (#4 is superset of #2 and #3 and is recommended)
3 # max F (methods 2-4) or harvest fraction (method 1)
0.05 # overall start F value (all fleets; used if start phase = 1 and not

[2021-09-29 15:45] k-doering-NOAA commented on #208
Rick and I had a look at  the website and figured out what should stay on vlab and what to link to on github. The basic strategy was not to provide 2 links to the same place. I think we are all set now, and most things will now be linked to directly to where they are maintained, so no need to duplicate uploading to vlab!

[2021-09-29 15:45] #208 closed

[2021-09-29 20:54] k-doering-NOAA commented on #91
I just realized this was never tested; do we still need, @Rick-Methot-NOAA ?

[2021-09-29 21:09] k-doering-NOAA commented on #207
Looks like everything is going well for a release on Sept 30th! @Rick-Methot-NOAA, if you don't have anything else to add to the code, please tag as `v3.30.18` (please use this exact formatting for the tag). This should then trigger the exes to build and I can add them to a release manually tomorrow.

[2021-09-29 21:13] Rick-Methot-NOAA commented on #91
it was pretty simple and I did a near unit test when I fixed it.  So I am confident it is OK.  Rarely used

[2021-09-30 13:33] #33 closed

[2021-09-30 13:33] #201 closed

[2021-09-30 13:35] #91 closed

[2021-09-30 13:35] #180 closed

[2021-09-30 13:35] #181 closed

[2021-09-30 13:35] #188 closed

[2021-09-30 17:24] k-doering-NOAA commented on #207
Stock synthesis is released, good work, all!!!

There is just one more "post release" item on the checklist that I will take care of shortly.

[2021-09-30 17:24] #207 closed

[2021-09-30 22:59] Rick-Methot-NOAA commented on #136
- [ ] refactor array names to all be Wt_Age_****
- [ ]

[2021-10-01 17:56] iantaylor-NOAA commented on #86
Thanks @Rick-Methot-NOAA for reminding me of this issue. Looking back at the VLab redmine page (https://vlab.noaa.gov/redmine/issues/82789), I see that the checklist and attached figures added in October 2020 didn't come through to github, so I'm adding those here now.

I would also like to test out the previously undocumented option in ADMB for a "natural cubic spline" where you don't have to spe